[2013-11-28 21:07] dillbyrne opened #1 "Add the option to notify the user when the user agent has been changed"
This option should be  able to be toggled as the updates could become annoying to the user if the timer is set to a short period like 1 minute .

[2013-11-28 21:09] dillbyrne opened #2 "add random-desktop option"
have a random option that will only choose between windows, linux, mac and unix browsers so that websites the user visits do not show the mobile version.

[2013-11-29 11:59] dillbyrne opened #3 "Enable addon to work in 'private-browsing' mode"
https://addons.mozilla.org/en-US/developers/docs/sdk/latest/modules/sdk/private-browsing.html

[2013-11-29 12:09] #3 closed, assigned to dillbyrne

[2013-11-29 15:17] #2 closed, assigned to dillbyrne

[2013-11-29 16:12] #1 closed, assigned to dillbyrne

[2013-12-01 12:55] bobbyrne01 opened #4 "Error on installation"
[code]

You should declare character encoding type e.g

[code]

[2013-12-01 13:58] #4 closed, assigned to dillbyrne

[2013-12-06 15:56] dillbyrne opened #5 "Add correct browser information for each platform"
This will likely be an ongoing issue until most of the browser profiles match the original browser on their specific platforms. The aim is to get the profiles to match as much as possible where possible. Mozilla has removed the ability spoof the vendor id in firefox 25 for example so even though the application spoofs Google Inc for chrome as it does in the real thing. It will only show the accura

[2013-12-12 23:04] Mosrite opened #6 "Extending addon to prevent other browser fingerprinting methods as well"
Hello,

I really like your addon Random Agent Spoofer! I think the idea of a randomly changing agent is great, apparently it works well and I hope this stopped some sites from tracking me!

It would be awesome if your addon would prevent other methods of browser fingerprinting (such as enumeration of plugins, MIME-types, window/screen size and fonts) as well, though. A random change or a standardi

[2013-12-13 12:53] dillbyrne opened #7 "Add support for accept headers"
As with the other spoofed attributes. These values should match the target browsers. Where the values for the target browsers are not known, the default values should be used in its place to ensure compatibility for sites

[2013-12-14 16:49] dillbyrne opened #8 "Add option to show sites a standard set of fonts"
This will prevent browsers from identify users based on unique fonts

[2013-12-14 18:54] dillbyrne opened #9 "Panel options should take effect on change instead of on hide"
This change is necessary for the future planned options.

[2013-12-14 18:55] #9 closed, assigned to dillbyrne

[2013-12-14 19:01] dillbyrne opened #10 "Change UI to allow for extra options"
The UI will have to be changed to present the user with more options which will arrive in future versions.

These options will not be to do with the user agent and should be presented in their own view.

[2013-12-15 15:33] #10 closed, assigned to dillbyrne

[2013-12-16 12:59] dillbyrne opened #11 "Add option to disable local dom storage"

[2013-12-16 12:59] dillbyrne opened #12 "Add option to limit session history max to the recommended value of 2"

[2013-12-16 13:07] #12 closed, assigned to dillbyrne

[2013-12-16 13:07] #11 closed, assigned to dillbyrne

[2013-12-16 13:07] #8 closed, assigned to dillbyrne

[2013-12-16 13:39] dillbyrne opened #13 "Add option to allow user to disable the browser cache"

[2013-12-16 13:40] #13 closed, assigned to dillbyrne

[2013-12-16 16:33] dillbyrne opened #14 "Extra options are not visually set when the browser is restarted"

[2013-12-16 17:22] #14 closed, assigned to dillbyrne

[2013-12-16 22:18] #6 closed, assigned to dillbyrne

[2013-12-18 20:35] dillbyrne opened #15 "Add option to send spoofed via header"
Add an option to allow users to choose to send a spoofed HTTP 'Via header' with a random IP address

[2013-12-18 20:38] dillbyrne opened #16 "Add option to send a spoofer X-Forwarded-For' header"
add option to send a spoofed HTTP 'X-Forwarded-For' header with a random IP address

[2013-12-18 20:39] dillbyrne opened #17 "Add an option to send a spoofed If-Modified-Since header"

[2013-12-18 20:41] dillbyrne opened #18 "Add option to send a spoofed If-None-Match header"

[2013-12-18 21:05] dillbyrne opened #19 "Add option to disable geolocation"
add option to disable navigator.geolocation support

[2013-12-19 18:47] #19 closed, assigned to dillbyrne

[2013-12-20 23:58] #15 closed, assigned to dillbyrne

[2013-12-20 23:58] #16 closed, assigned to dillbyrne

[2013-12-25 14:34] dillbyrne opened #20 "Add option to allow user to disable dns prefetching"

[2013-12-25 14:34] dillbyrne opened #21 "Add option to allow user to disable link prefetching"

[2013-12-25 14:35] dillbyrne opened #22 "Add headers tab to display headers options to users"
This will remove headers from extras and allow a user to navigate the available options better

[2013-12-25 14:38] #20 closed, assigned to dillbyrne

[2013-12-25 14:38] #21 closed, assigned to dillbyrne

[2013-12-25 14:38] #22 closed, assigned to dillbyrne

[2013-12-31 05:46] requiredregistration opened #23 "issue"

[2013-12-31 19:11] #23 closed, assigned to nobody

[2013-12-31 22:51] requiredregistration opened #24 "issue"

[2013-12-31 22:51] #24 closed, assigned to nobody

[2014-01-02 08:12] ghost opened #25 "Add option to select which user agents"
Great plugin! But I feel that it has an issue...

Many of the user agents are very old/outdated versions of browsers.

Please add an option to edit user agent strings.

Add option to choose which user agents the script selects from.

Thanks!

[2014-01-05 05:15] PowerPress opened #26 "Feature Request"
Please add all the additional items that EFF recommends:

https://panopticlick.eff.org/

Run a test from that URL. Thanks this looks like the only thing you are missing in this app.

[2014-01-05 13:47] #18 closed, assigned to dillbyrne

[2014-01-05 13:50] #17 closed, assigned to dillbyrne

[2014-01-06 04:53] requiredregistration opened #27 "Remove Toggle based system so RAS uses built in about:config options directly"
disable geolocation support
disable dns prefetching
disable link prefetching

clicking in the options of RAS doesn't toggle the options in about:config

[2014-01-06 12:59] dillbyrne opened #28 "Add option to allow users to prevent certain profiles from being included in the random selection"
Add checkboxes beside each profile. When ticked the profile is excluded from the random selection

[2014-01-06 13:00] dillbyrne opened #29 "Add option for a site whitelist"
This option should allow the user to submit a base url like `site.com` and if a request is made to that url do not send spoofed headers and do not spoof the user agent.

[2014-01-09 16:47] dillbyrne opened #30 "Add option to change browser profile per request"
This should only happen if the per request timer option is set and a random profile option has been chosen

[2014-01-22 21:51] cyberjl opened #31 "Can't right hand click to enable Random Agent Spoofer"
MAC 10.9 Firefox 26.0. I can't enable it by right clicking it. It will only bring up the menu to select profile.It works fine on my windows laptop. Thanks.

[2014-01-28 03:47] brian-user opened #32 "FF19 Install = No RAS icon or interface"
I installed the RAS add on via the Firefox extensions page (FF19.0.2).

I can not find any way to view a RAS interface. No icon on any toolbar that I can find. In the 'Add-Ons Manager' there is an 'options' button for all my add-ons, except RAS. Also tried View > Toolbars > Customize to look for a RAS icon there that I could manually add to a toolbar, but there was none.

I found a owners manual o

[2014-02-05 18:07] #31 closed, assigned to dillbyrne

[2014-02-06 15:37] heforfree opened #33 "allow just Spoof headers and extra tab"
hi
i want  add-on allow me  just Spoof headers and extra tab without profile tab
that mean keep default Firefox profile but  enable two other tab.
also add ability to set custom address for " x-forwarded-for"

[2014-02-06 16:36] dillbyrne opened #34 "Add option to allow users to set specific IPs for the x-forwarded for and via headers"
Requested in #33

[2014-02-07 11:51] dillbyrne opened #35 "Tabs are initially not rendered correctly on FF27"
When starting the firefox 27 the tabs content are shown vertically stacked rather than only showing the profile tab as expected.

[2014-02-07 11:51] #35 closed, assigned to dillbyrne

[2014-02-08 17:36] dillbyrne opened #36 "Change how the accept language header is sent so firefox does not change the relative quality value"
relying on intl.accept_language alone will override the value of q

For example if the accept language value is set to en_US,en;q=0.8 (chrome's default) it is overwritten with en_US,en;q=0.5 which does not match chrome and would make users stand out more.

Instead set the accept language header with setRequestHeader with the spoofed value stored in intl.accept_language. This will prevent firefox f

[2014-02-08 17:39] #36 closed, assigned to dillbyrne

[2014-02-09 15:22] #33 closed, assigned to dillbyrne

[2014-02-09 15:23] #7 closed, assigned to dillbyrne

[2014-02-09 15:24] #5 closed, assigned to dillbyrne

[2014-02-09 15:26] #26 closed, assigned to nobody

[2014-02-15 16:10] paulderdash opened #37 "Right click toggle on not working ..."
Hi
It was working but I disabled it to try Secret Agent extension, then reenabled it - now left click allows me to set options but right click to toggle it on (light up) is not working ... have tried clearing browser cache, restarting browser, removing and reinstalling. Have also tried setting agentspoof.enabled to true in about:config.
How do I 'reset' / reinitialise it?
Windows 7 SP1 Firefox 27.

[2014-02-16 16:20] #37 closed, assigned to nobody

[2014-02-16 16:23] dillbyrne opened #38 "Rewrite addon to facilitate better maintainablity"
Rewrite addon code to allow for better maintainability. Split the main.js up into smaller sections.

[2014-02-16 16:26] #38 closed, assigned to nobody

[2014-02-16 20:23] ghost opened #39 "Feature Request: Block EverCookies"
Ability to block EverCookie. See more info on this at this locations.
https://www.cippguide.org/2010/11/30/nevercookie-vs-evercookie/
https://en.wikipedia.org/wiki/Evercookie  and  http://samy.pl/evercookie/
Thank You!

[2014-02-17 18:57] dillbyrne opened #40 "Include addon name in notifications"

[2014-02-17 18:58] #40 closed, assigned to dillbyrne

[2014-02-20 16:45] #30 closed, assigned to dillbyrne

[2014-03-05 19:40] #34 closed, assigned to dillbyrne

[2014-03-13 14:36] dillbyrne opened #41 "Update addon for australis compatibility"
The new firefox australis UI introduces many changes particularly with widgets and toolbars. These changes break existing addons and the addons have to be updated.

see https://developer.mozilla.org/en-US/Add-ons/SDK/Low-Level_APIs/ui_button_action
https://groups.google.com/forum/?_escaped_fragment_=topic/mozilla-labs-jetpack/tciGoH4W_Ps#!topic/mozilla-labs-jetpack/tciGoH4W_Ps

[2014-03-13 17:40] dillbyrne opened #42 "Broken UI in FF30 on version 0.8"
The width of items is messed up. The ip input boxes are not being validated correctly
This is due to a css change in 0.8

fix input width for the ip inputs
fix input type so the visual validation feedback is displayed correctly

[2014-03-13 17:40] #42 closed, assigned to dillbyrne

[2014-03-14 17:57] cwmke opened #43 "Add Seamonkey Support"
I'm not sure if this is feasible or not, but from what I understand, it shouldn't be too bad since it's very closely related to Firefox and Thunderbird.  Here's a site I found with more information.  Thanks for the consideration.

https://developer.mozilla.org/en-US/Add-ons/SeaMonkey_2

[2014-03-17 16:47] dillbyrne opened #44 "Fix ip input box alignment on the headers tab"

[2014-03-17 16:51] #44 closed, assigned to dillbyrne

[2014-03-20 13:17] dillbyrne opened #45 "Add firefox 28 profiles"

[2014-03-20 13:17] #45 closed, assigned to dillbyrne

[2014-03-26 16:07] dillbyrne opened #46 "Update Chrome to version 33"

[2014-03-26 16:14] #46 closed, assigned to dillbyrne

[2014-03-26 16:35] #32 closed, assigned to dillbyrne

[2014-04-09 03:42] julianpistorius opened #47 "Spoof "Screen Dimensions" and "Browser Dimensions""
Randomize between some common screen sizes.

[2014-04-09 16:38] Bobo8 opened #48 "Random Agent Spoofer does not add an icon to the main toolbar of Firefox"
- I have tried the extension on 2 PC with Win XP (updated), Czech language, Firefox 27 and 28, no other active extension. I have done the FF renewal.
Technical info:

Název: Firefox
Verze: 28.0
Identifikace prohlížeče: Mozilla/5.0 (Windows NT 5.1; rv:28.0) Gecko/20100101 Firefox/28.0

Hlášení o pádech za poslední 3 dny
----------------------------------

Všechna hlášení o pádech

Rozšíření
-------

[2014-04-10 11:39] #43 closed, assigned to nobody

[2014-04-17 23:53] Gman4mf opened #49 "Plz make Random Agent Spoofer work with Tor Browser"
Random Agent Spoofer doesn't seem to work in Tor Browser,
which would be awesome if it did...
Together with Tor your plugin would give (almost) total anonymity !
Tor Browser currently uses an adapted version of Firefox 24.4
Thnx for your consideration !

[2014-04-23 12:54] #49 closed, assigned to nobody

[2014-05-08 06:42] cidious opened #50 "Exception list"
Please add the site exception list, which I don't want to spoof (e.g. the sites I developed)

[2014-05-12 00:43] Facesur opened #51 "A privacy option to hide all request fields?"
@dillbyrne Hi buddy,
Finally found some time to get back to you. Could you point me in the right direction of where to look on setting-up a profile for you to add?
On another note, how about adding a new hiding enhancement...
Like spoofed hiding of the DNT (Do-not-target) field, preferences, the spoofed browser, IP, etc... as if it all wasn't there. Sound like a cool idea?
Like leaving all fields

[2014-05-12 11:46] #50 closed, assigned to nobody

[2014-05-12 14:42] mt2012 opened #52 "RAS is useless?"
1. check your fingerprint here:
   http://fingerprint.pet-portal.eu/
2. then restart browser, clear anything (even you can try reinstall browser), use new RAS profile.
3. check your fingerprint again, it will be same.

Solution:
Learn from their FF addon here:
http://fingerprint.pet-portal.eu/?menu=6

they bypass this test by randomizing timezone, screen resolution, platform name, language code.

[2014-05-12 21:34] dillbyrne opened #53 "Add support for spoofing the timezone"

[2014-05-12 21:34] #53 closed, assigned to dillbyrne

[2014-05-15 14:21] #29 closed, assigned to dillbyrne

[2014-05-15 14:28] #52 closed, assigned to nobody

[2014-05-16 16:55] #28 closed, assigned to dillbyrne

[2014-05-16 17:07] #25 closed, assigned to dillbyrne

[2014-05-25 15:54] #47 closed, assigned to nobody

[2014-05-25 16:10] dillbyrne opened #54 "Add support for screen size and window offsets in the profiles"
In addition to the current random screen size option that exists as of 0.9.2. Screen sizes should also be added to the profiles so that they match the real devices values to allow users to blend in better.

Examples of this are Iphones and tablets where the sizes are all the same for each device type.

Also color and pixel depth values need to be added too.

[2014-05-29 04:23] geekahertz opened #55 "Vendor info. is blank for Firefox version 24"
Since I have Firefox version 24.  I was hoping I can spoof as Chrome where the 'navigator.vendor' is Google Inc.  However, it remains blank.  Is there a specific version of Firefox I should be using?

[2014-06-05 13:50] chaos5 opened #56 "Selecting Agents"
First of all, this a great piece of software, lots of buzz on the privacy pages! Thank you so much.

I have an issue though and when I investigated it, it seems to be one of the biggest complaints I see people mention.

You can specify "Random (Desktop Only)" but there are a lot of agents that break pages - MSIE 6 (Win XP)

Some pages reject you, others render strangely. To fix it you turn off the

[2014-06-05 14:30] #56 closed, assigned to nobody

[2014-06-05 14:41] dillbyrne opened #57 "Add help button"
When clicked the button should either open a web page or the project wiki which will inform users how to use the addon and explain each of the options to them

[2014-06-05 22:16] #55 closed, assigned to nobody

[2014-06-08 15:48] Lucie235 opened #58 "Icon remains always black"
FF 29.0.1 crashes frequently with RAS enabled. Since last crash today RAS icon remains black and cannot be right clicked, so RAS switched on or off is no longer easyly to see.

Uninstalling and re-installing RAS didn't help. Restart FF changes nothing.

Installed addons:

Adblock plus 2.6.3
BetterPrivacy 1.68
FlashGot 1.5.5.98
Google Translator 2.1.0.3
HTTPS-Everywhere 3.5.1
Dict.Leo 0.5
NoScript

[2014-06-09 16:24] dillbyrne opened #59 "Add option to disable webgl"

[2014-06-09 16:31] #59 closed, assigned to nobody

[2014-06-09 16:34] dillbyrne opened #60 "Add option to set referer header"

[2014-06-16 13:42] blaze2051 opened #61 "Option to support custom profiles"
it would be great to be able to edit and add your own user agent to the list that are already there, and a way to back up all of them. i will donate.

[2014-06-25 06:28] oceandweller007 opened #62 "Feature request: hide auth id, http sessions, tab name, http lang, option for newer desktop profiles"
I LOVE your add-on.  There's nothing better.  I'm new to github and not a programmer, so let me know if this is not the correct place to request features.

I usually use the website ip-check.info to check my privacy and from the reports I get, I have a few requests:

  1)  Hide the unique ID related to authentication.  The report states that my browser (Firefox 28) can send HTTP authentication dat

[2014-06-25 13:12] ProgerXP opened #63 "Installation instructions, anyone?"
I have been browsing around for any kind of info on the way to (compile?) this thing to .xpi and install into Firefox. But no luck. I  got a feeling I'm overcomplicating things seeing other people using it but I have no idea where.

So how do I install latest GitHub version as a plugin instead of using AMO's old version?

[2014-06-25 13:33] #63 closed, assigned to nobody

[2014-06-25 21:48] dillbyrne opened #64 "Add option to set DNT header"

[2014-06-25 21:50] dillbyrne opened #65 "toggle extras independent of spoofing"
Some users were confused / unhappy with the way extras options are enabled with spoofing. The new behaviour will allow the extras options to remain to the way the user set them even if profile spoofing has been set to disabled

[2014-06-25 21:51] dillbyrne opened #66 "Improve Date Spoofing"
Currently only the time zone offset is spoofed.

https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Date/toGMTString
https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Date/toLocaleDateString

[2014-06-25 21:54] dillbyrne opened #67 "Improve language header support"
Currently only US english is supported.  Add support for more languages in the correct string format to match the target browsers in the same way the current option is implemented

I only want to add locales supported by all browsers.

Lists of locales
http://www.karakas-online.de/forum/viewtopic.php?t=858
http://www.roseindia.net/tutorials/I18N/locales-list.shtml

Firefox locales
https://www.mozi

[2014-06-26 15:55] dillbyrne opened #68 "Fix select element alignment to align to the right"
For xff, via, screen size , timezone offset, referer and do not track dropdowns.

Referer and do not track options still have to be implemented.
Via and xff select alignment implementation needs to be changed

[2014-06-26 15:59] #68 closed, assigned to dillbyrne

[2014-06-26 15:59] #64 closed, assigned to dillbyrne

[2014-06-26 15:59] #60 closed, assigned to dillbyrne

[2014-06-27 11:33] dillbyrne opened #69 "Add option to disable Authorization Header (Authentication)"
As requested in #62

The user should be able to toggle sending the header with a checkbox

[2014-06-27 11:38] #69 closed, assigned to dillbyrne

[2014-06-27 15:25] dillbyrne opened #70 "Add option to protect window.name attribute"
As requested in #62

[2014-06-27 15:26] #70 closed, assigned to dillbyrne

[2014-06-27 20:05] JohannesTK opened #71 "What does the variable "appname" consists of?"
Hey!

I was wondering may be You could share some of Your knowledge.

When checking from ip-check.info the Browser Type appears as "20100101/ Netscape (en-US)"

But the only thing I could found from source code was
if(key == "appname")
        PrefServ.set("general.appname.override",value);

And the general.appname.override changes only the Netscape value. The thing I'm trying to accomplish is to

[2014-06-28 14:34] #71 closed, assigned to nobody

[2014-06-29 09:52] ghost opened #72 "Sync with Cookie deletion and "session" usage?"
I am wondering how much use this plugin is if cookies aren't deleted at the same moment that UA is switched? I am using "self-destructing cookies" extension (https://addons.mozilla.org/en-US/firefox/addon/self-destructing-cookies/?src=api) but I think both extensions should somehow cooperate.

Also, switching after random time is nice but it might be very interesting to have switching based on bro

[2014-06-30 21:41] GuardianMajor opened #73 "Random (Desktop Only) behaves no differently than Random All"
The Random (Desktop Only) option is expected to use only strings that correspond to full feature desktop browsers but instead uses the WHOLE list which includes strings that will render the modern browser virtually useless on many pages and cause issues with functionality. Please fix so that it only uses desktop strings that are compatible with the functionality provided by the browser being used.

[2014-07-03 03:54] mt2012 opened #74 "Html5 Canvas Fingerprinting"
Problem:
http://www.browserleaks.com/canvas

Solution:
turn off "hardware acceleration" by default
(this is the only solution i tried, any other ways how to randomize this value?)

P.S. Thanks for the last 0.9.3 github version, its the greatest addon to break browserfingerprinting at the moment. anyway do you know the reason behind mozilla reviewer do not allow screen & timezone modifications?

Wh

[2014-07-09 09:43] dillbyrne opened #75 "Add option to disable WebRTC"
to prevent local IP discovery and media device enumeration

[2014-07-09 10:23] #74 closed, assigned to dillbyrne

[2014-07-09 10:23] #75 closed, assigned to dillbyrne

[2014-07-09 11:00] #39 closed, assigned to nobody

[2014-07-09 20:49] oceandweller007 opened #76 "Menu items not properly left flushed in alignment with other menu items in 0.9.4"
Some of the menu items in 0.9.4 are out of alignment with the rest of the menu items.

The headers tab looks like this:
![formatting - headers tab](https://cloud.githubusercontent.com/assets/7982301/3530961/46dc3cb8-07aa-11e4-86aa-8eaa2f50f9ed.png)

I'm not sure, but it also looks like there's a missing checkbox for "Accept headers match the selected browser profile".

For the extras tab, it looks

[2014-07-09 21:11] oceandweller007 opened #77 "Feature request: Protect against HTML5 features detection"
I'm not sure if this can be done without breaking websites, but I thought you might be able to figure something out (http://www.browserleaks.com/modernizr).  I'm not sure what happens if Modernizr is disabled or if some of the values detected are randomized.

[2014-07-09 21:26] oceandweller007 opened #78 "Feature request: Block Adblock detection"
Using http://www.browserleaks.com/proxy, even though I have my user agent spoofed, this detection gives away that I'm using Firefox as well as Adblock.  I'm getting:

ABP Type:  Adblock Plus for Mozilla Firefox
Subscriptions:  1 EasyList (English)

[2014-07-11 04:27] #76 closed, assigned to dillbyrne

[2014-07-11 04:49] oceandweller007 opened #79 "Feature request: Match browser signature to spoofed user agent"
When looking at ip-check.info results, the user agent is spoofed, but the signature always shows up as the generic Firefox signature.  The browser signature should match the spoofed user agent.  Also, the ability to alter this should be present when you release the feature to create custom profiles.

Thank you!

[2014-07-12 08:18] abhi701 opened #80 "Gmail : Not able to write mails, Youtube: Breaking Click on Play and automatically playing videos"
I am using the following user agent:
User-Agent Mozilla/5.0 (Windows NT 6.2; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/33.0.1750.117 Safari/537.36

Although everything else seems ok the addon is breaking these 2 sites when i use chrome as my user agent.
Thanks,
Abhinav

[2014-07-25 10:56] dagaz opened #81 "Feature request: White listing"
Hello!

Ich have a feature request: It would be really nice if there was a white list for sites where spoofing is always turned off. Some sites really dont work - and sometimes I fotget to turn on spoofing again. Another thing: Sometimes I am on sites which I want to be spoofed and in different tabs on sites which sould not be spoofed.

So a white list would be really useful.

[2014-07-25 11:01] dagaz opened #82 "Feature Request: Spoof or block plugins"
It would be really nice if the add-on-string could be spoofed, too. Would be great to reduce the browser fingerprint at all.

Ideal would be if it could be chosen, which add-ons or plugins are included for the string, like flash or java so that the sites remain functional but that the tracker can not see the full add-on list, wich might be very unique if you have many add-ons.

[2014-07-28 01:52] #51 closed, assigned to nobody

[2014-08-01 13:48] #73 closed, assigned to nobody

[2014-08-06 14:14] ProgerXP opened #84 "UI broken in FF 34a1?"
Latest release XPI
![screen](https://i.imgur.com/8ePYvNF.png)

[2014-08-08 01:47] DomT4 opened #85 "New Evercookie Blocking?"
Is this something we can or could block or fake with RAS? Or something that we could write into the RAS code to block/fake.

[Economist Article Link](http://www.economist.com/blogs/economist-explains/2014/08/economist-explains-3).

[2014-08-11 03:49] #85 closed, assigned to nobody

[2014-08-16 16:13] #65 closed, assigned to dillbyrne

[2014-08-16 18:36] dillbyrne opened #86 "add option to disable pdfjs"

[2014-08-16 21:41] dillbyrne opened #87 "add option to disable search suggestions"

[2014-08-16 21:49] #57 closed, assigned to dillbyrne

[2014-08-16 21:50] #87 closed, assigned to dillbyrne

[2014-08-16 21:50] #86 closed, assigned to dillbyrne

[2014-09-07 04:41] DaarkWel opened #88 "Accordance of options"
Please make this addon to check if some options — i.e. disablance of geolocation or caching — already on in "about:config" and put a tick opposite such options in GUI.

Tnanks.

[2014-09-09 03:20] DarKWinGTM opened #89 "HTTP Referer"
- When this functions will be available ?
- In this option " Change random profile on time interval " we need more choice " Change : Per enter web "

[2014-09-14 19:29] #62 closed, assigned to dillbyrne

[2014-09-17 16:28] #84 closed, assigned to dillbyrne

[2014-09-23 08:44] bbBowser opened #90 "Feature request: Autoupdate Browser Definitions"
Hey there,
I really love your random agent spoofer - addon. i am looking forward to the new whitelisting abilities.

But are there plans to include an autoupdate functionality, that automatically loads the newest browser headers etc.?
With modern browsers updating almost every second week, we are always one or even more steps behind. When 90% are surfing with the newest chrome and firefox agents,

[2014-09-30 14:07] rbkbk opened #91 "sometimes RAS has toolbar icon problem"
Recently (since FF upgrade to v32?), the toolbar icon functionality doesn't always work right. Right-clicking the icon doesn't turn RAS on and off; and when RAS is on, the icon doesn't turn blue. Sometimes this happens when I start FF, sometimes it doesn't. When it is a problem, I notice that RAS's tooltip says simply "Random Agent Spoofer", instead of giving info about right-clicking and which pr

[2014-10-07 14:26] #81 closed, assigned to dillbyrne

[2014-10-07 14:36] #80 closed, assigned to dillbyrne

[2014-10-19 14:44] #91 closed, assigned to dillbyrne

[2014-10-20 05:00] rahulgi1 opened #92 "Whitelist - Firefox Sync"
can you whitelist firefox sync
getting wrong user/pass while using
(only when using github version, no problem with firefox version)

I have tried all possible whitelist
{"whitelist":[{"url":"accounts.firefox.com","options":["via","date","canvas","ifnonematch","referer","xff","windowName"]}]}

also an option to whitelist tab will be great, rather than a specific site

[2014-10-20 11:03] dillbyrne opened #93 "Update / Finish the user manual in the wiki"

[2014-10-25 16:16] ldgbc opened #94 "Homepage"
Issue:
Difficult to find the homepage/AMO for Random Agent Spoofer (RAS). Have to either (1) remember URL, (2) bookmark or (3) do a search.

Solution:
Add in a homepage link in Firefox's Add-on Manager under the "About" section (access by either right clicking on add-on or double click on add-on)
Alternatively add in link in the RAS itself, currently you can reach RAS's Github page via the "Whitel

[2014-10-26 15:44] dillbyrne opened #95 "Change the profile list's JSON structure to prepare for custom profiles"
This will include sub headings for desktop and mobile categories reducing the current hard coded offset used by the random_desktop option. Some core changes will be required to facilitate this in RAS.js .

This will allow for more flexibility for user profiles and will be necessary for #61

[2014-11-04 10:28] ProgerXP opened #96 "More modern UAs"
I've been using RAS for months and it's excellent. However, there is one problem that bugs me every other day.

As far as I can see RAS is supplied with very weird, unusual, rare and outdated user agents (among those that are modern). This causes problems with some resources - in particular GitHub and many others - that try to detect browser's capabilities by its UA (poor practice but still). This

[2014-11-07 01:39] RdKoyoe opened #97 "Insert bundle of custom IP"
i have been using this tool for a while and i really like it, if you have a time can you add an option to insert bundle of custom IP where user can run it randomly. There is an option to use random IP but i prefer my own custom IP

[2014-11-10 01:25] ProgerXP opened #98 "Option to enable RAS on startup"
Sometimes I need to disable RAS and sometimes I forget to enable it again after I start Firefox again. Can we have an option that will make RAS automatically enabled when browser is opened?

[2014-11-11 21:29] #95 closed, assigned to dillbyrne

[2014-11-13 12:47] wrzhouse opened #99 "Batterly level spoofing"
There is a way to get battery level remotely, as well as charging status.
It would be nice to add an option to disable battery level output AND to randomly spoof the value.

http://davidwalsh.name/demo/battery-api.php
http://codepen.io/matt-west/details/vIwra

[2014-11-18 07:04] #94 closed, assigned to dillbyrne

[2014-11-18 11:20] RdKoyoe opened #100 "Client-IP"
can you consider to add option to spoof client-ip like the chrome extension below

https://chrome.google.com/webstore/detail/ipfuck/bjgmbpodpcgmnpfjmigcckcjfldcicnd

and i hope this user agent extension will give you more idea on how to improve yours

https://chrome.google.com/webstore/detail/random-hide-user-agent/einpaelgookohagofgnnkcfjbkkgepnp

i'm looking forward to see this addon in chrome b

[2014-11-29 21:14] ka223 opened #101 "error at firefox startup"
After deactivating and activating the addon, it is working until I close firefox ... .
tested: 0.9.4.3, 0.9.3.1

Maybe it is not compatible with Adblock Edge?
Even with deactivated ABE filters, it is not starting.

EDIT:
Finally, I can not identify the a responsable addon ...

[code]

[code]

[2014-11-30 16:11] #100 closed, assigned to nobody

[2014-12-04 17:04] atomGit opened #102 "questions and comparison"
there are 2 other comprehensive extensions for FF that are similar to yours...

HTTP UserAgent cleaner
https://addons.mozilla.org/en-US/firefox/addon/http-useragent-cleaner/

Secret Agent
https://www.dephormation.org.uk/index.php?page=81

what i like about HTTP UserAgent cleaner is that it is very easy to use; it has a simple iUI; you can set any of it's options on a per-domain basis (and they are

[2014-12-04 17:51] #102 closed, assigned to nobody

[2014-12-04 18:05] dillbyrne opened #103 "Implement a ContextMenu to replace the right click action, lost in the move to the ActionButton code"

[2014-12-05 09:29] lizatoj opened #104 "Feature Request. Defeat or Spoof the "fontHack" screen detection method"
Hello.

Great addon, nice work!

I found a bug - the spoofing of the window size is not working.

version from github: 0.9.4.3
Firefox: 31.3 esr

How to test:
1) Set a random window size in RAM
2) Check if that works here: ip-check.info (really good free site to check your privacy)

Result:
Window size cannot be set by RAM

[2014-12-05 15:48] conderus opened #105 "Feature Request.Save and manage profiles."
Hello.

This is very good and useful addon but I need save my random generated profiles.In menu could be new fifth tab where I can save my profiles,edit each manually (as same as this is in "Whitelist"),change names and delete,for this purpose should be option to load not random profile but saved profile,it can be in menu "Change random profile on time interval",for ex. "Load last used saved profi

[2014-12-06 12:59] ghost opened #106 "Spoof screen size and depth"
Checking https://panopticlick.eff.org/ again, screen size related information and color depth are the greatest contributors to fingerprinting (I have disabled all plugins which are even worse). Both total screen size and actual window size seem to be leaking and both contribute to fingerprinting.

So it would be good to spoof screen size and depth.
https://developer.mozilla.org/en-US/docs/Web/API/

[2014-12-06 14:50] #106 closed, assigned to nobody

[2014-12-06 14:57] #105 closed, assigned to nobody

[2014-12-06 17:28] #41 closed, assigned to dillbyrne

[2014-12-06 17:29] #103 closed, assigned to dillbyrne

[2014-12-07 01:27] bumperl opened #107 "HTTP_ACCEPT javascript"
When I activate javascript in Firefox on https://panopticlick.eff.org/ it shows my original accept header. I don't think this should be like that. The version is 0.9.3.4. on Firefox 34.
Thank You for your work, the add-on is awesome.

[2014-12-10 02:41] 49c29fa9 opened #108 "Simple way to mask OS and CPU"
Please check this addon.

http://basa.nl/apps/maskingagent/

Can you add this functionality so I don't have to choose a predefined useragent but just mask the cpu and os?

If this is using a feature from the above addon author without permission, I apologize for asking.
Thanks.

[2014-12-10 04:14] ProgerXP opened #109 "Exclude UA group selection"
Right now there are two ways to select which UAs are to be spoofed:
- Default/Random (All)/Random (Desktop) radio buttons
- Individually marking UAs with checkboxes on the right of the list

However, the first is too generic and the second is too troublesome given the number of available UAs.

For example, I only want to spoof Windows desktop UAs. To do this I need to check all  Mac/Linux/Unix UAs

[2014-12-10 19:41] #108 closed, assigned to nobody

[2014-12-11 14:32] ProgerXP opened #110 "Referer: None for external links"
Currently we have the choice of sending Referer either by default (as usual) or not sending at all. However, IMO the most useful scenario is not to send Referer to external resources because sometimes it is required when browsing inside the same resource. Besides, it doesn't look logical to limit Referer for the site itself because you are still browsing it and this is reflected in the logs. Your

[2014-12-16 12:15] #101 closed, assigned to nobody

[2014-12-16 23:29] #93 closed, assigned to dillbyrne

[2014-12-17 14:13] dillbyrne opened #111 "Improve Canvas fingerprint protection"
@ldgbc writes

[2014-12-17 17:35] #78 closed, assigned to dillbyrne

[2014-12-23 01:19] #107 closed, assigned to nobody

[2014-12-28 20:40] #109 closed, assigned to dillbyrne

[2014-12-28 20:48] #98 closed, assigned to nobody

[2014-12-30 23:54] jimjackjonny opened #113 "Support for Palemoon 25"
Any change you guys will support the new Palemoon?

According to the information on their website, the problem would probably not be that hard to solve, but then again, I am not a technical guy.

http://forum.palemoon.org/viewtopic.php?f=24&t=5932

As for the problem itself, the newest version says it doesn't support Palemoon 25, whereas the older versions have the configuration icon missing.

Tha

[2014-12-31 14:14] #113 closed, assigned to nobody

[2014-12-31 19:53] #96 closed, assigned to dillbyrne

[2015-01-01 18:09] ldgbc opened #114 "RAS update via Add-ons Manager (Github version)"
Update can only be done using build found here: https://github.com/dillbyrne/random-agent-spoofer/releases

Make it so that update can be done using Firefox Add-on's Manager. The guys over at RequestPolicyContinued know how to do it should you need any help.

[2015-01-01 19:22] ldgbc opened #115 "Disable "mouse context menu""
It seem like you remove the ability to "Right click" on RAS Icon which Version 0.9.4.3 allow user to Enable/Disable RAS and it was moved to the Mouse Context Menu.

Wouldn't it be better if the same menu come up when Right clicking on RAS and (optionally) Mouse Context Menu can be disable/enable.

[2015-01-02 09:21] heforfree opened #116 "big toolbar icon"
i installed Version 0.9.5.0 and i see toolbar icon is to big and not like older version
can you restore it?
![1420190205767](https://cloud.githubusercontent.com/assets/2247864/5595060/f1573464-927d-11e4-89a8-31bc1ad1379e.png)

[2015-01-02 11:42] dillbyrne commented on #116
@heforfree Thanks for the bug report can you please tell me what version of firefox you are using and what platform and any addons you are using

[2015-01-02 11:45] dillbyrne commented on #115
ldgbc There is no right click with the action button or toggle button that replaced the widget. That is why I added the context menu. I would have preferred to keep it as it was. The context menu is not needed as all the settings can be changed in the tabs.  I added the context menu for convenience.

I can add an option to disable the context menu in a future update.

[2015-01-02 12:19] heforfree commented on #116
hello,sure
Software:Firefox 34.0.5 (20141126041045)
OS:WINNT (x86-msvc) windows 8.1 update1

-Add-ons Manager Context Menu 0.4.2
-Addon List Dumper (restartless) 0.1
-Australis Small Icons 1.0
-Bookmark Quick Mover 0.2
-Clear Console 1.11
-CookieKeeper 1.7.4
-DblClicker 1.7.6
-Download Panel Tweaker 0.2.2
-Easy Copy 2.5.2
-FireCaptor 0.1.8.1
-GlobalFindBar 1.0
-Greasemonkey 2.3
-IDM CC 7.3.88
-IPv

[2015-01-02 12:21] dillbyrne commented on #116
@heforfree Thanks I'll have a look and get back to you when I have something

[2015-01-02 12:28] dillbyrne commented on #116
@heforfree can you tell me if this version makes any difference ? . If not can you try the addon on its own in a fresh profile to see if it still happens ? https://support.mozilla.org/en-US/kb/profile-manager-create-and-remove-firefox-profiles

[2015-01-02 12:28] heforfree commented on #116
ok now i tested on new profile,and work fine but seem not work with url-addon-bar  addon

[2015-01-02 12:29] heforfree commented on #116
but working with and older version

[2015-01-02 12:31] dillbyrne commented on #116
I updated the test release link above. Pasted the wrong release by mistake. The older version was using the widget code and that code has been depreciated and I have to move to the new ActionButton to replace the widget.

[2015-01-02 12:35] heforfree commented on #116
still big with below link
https://github.com/dillbyrne/random-agent-spoofer/releases/tag/0.9.5.1-beta1

[2015-01-02 12:35] dillbyrne commented on #116
@heforfree did  https://github.com/dillbyrne/random-agent-spoofer/releases/tag/0.9.5.1-beta1 make any difference

[2015-01-02 12:37] dillbyrne commented on #116
@heforfree I'll see if there is anything else I can do but It sound like it is a problem with the other addon. In the test version above I forced 16x16 icons to be used so it should have fixed any issues if RAS was the cause, considering it works fine on its own.

[2015-01-02 12:46] dillbyrne commented on #116
I tried the url-bar-addon and it worked on my system but RAS was not added to the url bar. The icon was the correct size.

perhaps it could be the small australis icons addon causing the issue https://addons.mozilla.org/en-US/firefox/addon/australis-small-icons/reviews/626342/

[2015-01-02 12:53] heforfree commented on #116
select customize put RAS  icon in url-bar-addon toolbar exit customize it change to big
tested with small australis icons too but not for that.
and i back to Version 0.9.4.3 and work fine and as you say i see depreciated in ctrl+shift+j
https://gist.github.com/heforfree/a8e4637589465885554c

[2015-01-02 13:01] dillbyrne commented on #116
@heforfree I tried selecting customize to move the RAS icon to the url-bar-addon but the url-bar is greyed out and will not allow me to drag the RAS icon or any other icon such as the built preferences icon to it either.

[2015-01-02 13:09] heforfree commented on #116
it is work fine for me.
Version 0.9.4.3
![image 1](https://cloud.githubusercontent.com/assets/2247864/5596199/8f2b9ce2-929d-11e4-90b1-2cd0be61d04b.png)

test version in customize icon is normal after exit icon change to big
![image 2](https://cloud.githubusercontent.com/assets/2247864/5596208/b4b64c14-929d-11e4-8512-a7b4abc574c9.png)

[2015-01-02 13:10] dillbyrne commented on #116
I have managed to reproduce the issue on windows 7 with the url-bar-addon and RAS. I'll see if there is anything I can do and get back to you.

[2015-01-02 13:11] heforfree commented on #116
keep this open for some days to see if someone else have my problem or not
so if not i will try contact with url-bar-addon developer
thank you

[2015-01-02 13:18] dillbyrne commented on #116
@heforfree Sure no problem. I'll let you know if I manage to find a fix but as I said the only code in RAS related to the icons is all standard code which you can find on the mozilla site itself. I don't do anything out of the ordinary with the icons that I can see causing such an issue.

[2015-01-02 13:28] dillbyrne commented on #116
@heforfree I have check this with other addons using toggle/action Button and it happens for all of them. The addons included addons by myself and other developers. As a result I can safely say this is not an issue with RAS.

[2015-01-02 13:42] heforfree commented on #116
i put an review for url-bar-addon
thank you for Attention

[2015-01-02 13:54] dillbyrne commented on #116
@heforfree Sure. It is not specific to this addon though it seems to be addons using the ActionButton or ToggleButton so it may be worth mentioning that instead so the developer is more informed.

For example it happens with https://addons.mozilla.org/en-US/firefox/addon/gmail-notifier-restartless

[2015-01-02 14:04] heforfree commented on #116
:+1:  thanks updated review.so if you want close this.i hope he look the review :)

[2015-01-02 14:13] dillbyrne commented on #116
@heforfree Sure,  no problem. Thanks for supporting RAS.

[2015-01-02 14:13] #116 closed

[2015-01-03 18:17] Carlgo11 opened #117 "whitelist sessionstorage (dom storage)"
What would I add in the whitelist json to enable sessionstorage on a single site?
I can't seem to find it when looking through your massive code.

Also, keep up the work! :heart:

[2015-01-04 23:18] seli11 opened #118 "2 things, help"
1- can you add the option to rotate the language, local time, and browser scren size every request?
 2- if i choose  safari on mac, i tested this on
 http://browserspy.dk/flash.php   i use windows,
 this say  platform = windows! should say platform=mac, i can't  disable flash for youtube, the best user agent thank you, and sory for my bad english

[2015-01-08 14:00] dillbyrne commented on #115
@ldgbc

"Move to Menu
Remove from Toolbar"?

Yes the firefox devs no longer allow a click listener to use the right click. Those addons are still using the old Widget. You can see this with the [Linkificator addon](https://addons.mozilla.org/en-US/firefox/files/browse/288088/file/resources/linkificator/lib/controler.js#L477) you mentioned.

The past few versions of the sdk have been showing warnin

[2015-01-08 14:36] dillbyrne commented on #118
Hello @seli11

I have issues already open for addressing the date and time, language and screen size. See #66 and #67 .
For the language it is not as simple as putting in what ever your current language settings are. They have to match the **exact** headers sent by a browser which is downloaded for that locale otherwise the user will stand out. Also it has to be done for every browser profile in t

[2015-01-08 14:52] dillbyrne commented on #117
Hello @Carlgo11 The session storage is a global option in firefox. I'm not aware of a way to set it on a per site basis. This may change when firefox implements multiprocess support. I will look into it when I get some time.

If there is a part of the code that is awkward or confusing to read let me know and I will add better comments. I'm always looking for places I can remove code.

Thank you fo

[2015-01-08 17:37] Carlgo11 commented on #117
Oh okay. Could you add a page on the wiki telling which features support the whitelist thing?

P.S. Donated :wink:

[2015-01-08 20:19] seli11 commented on #67
this is for firefox albanian language,you mean only for my country? or to download all versions language of firefox,chrome,opera,internet explorer, and install for acepted languages, i will do if necessary.
but if i disable flash player, canvas fingerprinting can detect me!  ihave disbled flash,  i have changed profile to opera, or chrome,  youtube can detect me anyway https://www.browserleaks.com

[2015-01-09 00:27] seli11 commented on #74
with canvasblocker option fake readout api looks diferent every time refresh the page
https://www.browserleaks.com/canvas
1-Your Fingerprint
Signature	3AE7F9BE
Found in DB	× False
General Conclusion	Your system fingerprint appears to be unique, yet we don't collect signatures here, just check.

2-Signature	56E16BF7
Found in DB	× False
General Conclusion	Your system fingerprint appears to be unique

[2015-01-09 18:44] dillbyrne commented on #117
@Carlgo11 Thank you. I really appreciate it. :smiley_cat:

There is an [entry](https://github.com/dillbyrne/random-agent-spoofer/wiki/Whitelist-Usage) in the wiki already explaining the current whitelist options.

Let me know if you require any further clarifications and I will try to improve the documentation.

[2015-01-09 18:56] dillbyrne commented on #67
@seli11 Basically I need one version of each of the main desktop browsers. So the default Albanian download of firefox, chrome, opera and safari.

The mobile versions are a bit trickier as they can change depending on the device so I will need to find each language type for each device.

I will address your canvas comment in the other issue.

[2015-01-09 19:02] dillbyrne commented on #74
@seli11 which version of RAS are you using. The mozilla version has no support for canvas blocking only the github version.

In the github version there is an extra's option to disable the canvas
![extras](https://cloud.githubusercontent.com/assets/2903711/5685418/e2a9bbb2-9831-11e4-9168-fb4be2b584da.png)

When that option is checked you should see the following output on the canvas test
![canvas_

[2015-01-10 00:47] seli11 commented on #74
i make some tests with youtube and i have disabled flash player, because can not spof flash player, but canvas is easier to spof, (my idea) :),  and this plugin
https://addons.mozilla.org/en-US/firefox/addon/canvasblocker  has option 'fake readout api'
 in this site http://www.propublica.org/article/meet-the-online-tracking-device-that-is-virtually-impossible-to-block   with canvasblocker addon 'f

[2015-01-10 01:16] seli11 commented on #67
for chrome 39.0.2171.95

Accepted Documents
text/html
application/xhtml+xml
application/xml;q=0.9
image/webp
*/*;q=0.8

Accepted Charsets	   Not available!

Accepted Encodings
gzip
deflate
sdch

Accepted Languages
en-US
en;q=0.8
sq;q=0.6

[2015-01-11 11:11] ldgbc commented on #115
That make sense. Yes, I would appreciate that option.

[2015-01-12 09:26] ARwMq9b6 opened #119 "Is there a way to random fonts? If none, Document Font Toggle is a good choice"
Is there a way to random fonts? If none, Document Font Toggle is a good choice.

https://addons.mozilla.org/zh-CN/firefox/addon/document-font-toggle/

[2015-01-12 09:28] ARwMq9b6 commented on #119
Sorry for my poor English. It should be "Is there anyway to random fonts".

[2015-01-12 11:26] sbs4000 opened #120 "Disable geolocation issue"
Hello,

when the Disable Geolocation option is not used, the geo.enabled firefox parameter is set to true by Agent Spoofer when it is disabled. The correct behavior should be not to manage the parameter at all. The issue is that I would like to set geo.enabled on false always, regardless whether Agent Spoofer is active or not. But when I set it to false, Agent Spoofer reverts it to true even if th

[2015-01-12 15:46] danielcra commented on #74
Actually the page at https://www.browserleaks.com/canvas sometimes shows a fingerprint and sometimes it doesn't, depending on how I load it (retry several times: bookmark, menu at bottom left, reload in browser). I did clear my browser cache ;-)
My settings are: canvas, webgl, webrtc disabled, the rest left to default.
Whitelist: youtube.com

[2015-01-13 07:57] danielcra opened #121 "Canvas protection fails randomly"
Canvas protection fails randomly. The page at https://www.browserleaks.com/canvas sometimes shows a fingerprint and sometimes it doesn't, depending on how I load it (retry several times: click bookmark, press return in address bar, use menu at bottom left, click reload in browser). I did clear my browser cache and restarted FF several times ;-)
My settings are: canvas, webgl, webrtc disabled, the

[2015-01-13 11:47] danielcra opened #122 "Add E-TAG protection"
I enabled Send spoofed 'If-None-Match' headers (ETags) but
I still get identical e-tags between browser sessions on the page below, although I have disabled cache, DOM and history in RAS and I clear my cache through FF prefs. upon exit.

http://ip-check.info/?lang=en

RAS version 0.9.5.0, FF 34

[2015-01-13 17:06] dillbyrne commented on #122
@danielcra the if-none-match header takes a function call as a paramater which when called returns random data. There is no variable to store the data so there is no way it could persist between between requests so it is not possible that it could be the same.
ip-check.info does not check for Etags. It is simply displaying the spoofed header you are sending each time.

If you want to actually test

[2015-01-13 17:34] dillbyrne commented on #121
Hello @danielcra

Thanks for the bug report. I can confirm this when visiting the page and then another link and returning back to that page.

Can you describe other steps which trigger it.

I will try to have a fix out for this soon.

[2015-01-13 17:45] dillbyrne commented on #119
Hello @ARwMq9b6 . At this point in time the only font related option is to limit the font set to the document fonts. I will look into that addon when I get a chance and see how it does it.

[2015-01-13 20:22] dillbyrne commented on #121
@danielcra Using the navigation buttons to move between a visited page or a new one no longer stops the script. This will disable the BFCache completly but it was the only thing I could get to work. If anyone knows of a better way feel free to have a go or let me know. I can't see it causing much problems besides the user having to refetch the page each time, this is what forces the the script to

[2015-01-13 20:42] dillbyrne commented on #121
'network.http.use-cache = false' has the same effect as the fix above and is a better option than forcing it in the script.

[2015-01-13 20:48] dillbyrne commented on #48
@Bobo8 can you try https://github.com/dillbyrne/random-agent-spoofer/releases/tag/0.9.5.0 and tell me if it fixes your problem. I will close this issue in a few weeks if there is no response by then. Thanks

[2015-01-13 20:48] dillbyrne commented on #58
@Lucie235 can you try https://github.com/dillbyrne/random-agent-spoofer/releases/tag/0.9.5.0 and tell me if it fixes your problem. I will close this issue in a few weeks if there is no response by then. Thanks

[2015-01-13 21:09] dillbyrne commented on #120
Hello @sbs4000

The way RAS handles preferences is like that by design. As the addon can cause problems with some sites I wanted to have the option to quickly be able to completely disable or enable the addon . This means not only profile spoofing but also the headers and extras too. This meant reverting all the changes done by the addon In order to revert to a working state which I could be guara

[2015-01-13 21:09] #120 closed

[2015-01-13 21:25] dillbyrne commented on #74
@danielcra I need you to test a fix in #121

@seli11 Like I said above I plan to improve the fingerprinting support. I need to address other issues before I can get to this such as plugins. @seli11 if ras fingerprinting blocking is not working post in #121 not here thanks

[2015-01-13 22:02] #118 closed

[2015-01-13 22:22] k-h commented on #48
The new one works for me. The ability to block canvas and limit font lists is excellent.

On 2015/Jan/14, at 7:48 AM, dillbyrne wrote:

--
Kim Holburn
IT Network & Security Consultant
T: +61 2 61402408  M: +61 404072753
mailto:kim@holburn.net  aim://kimholburn
skype://kholburn - PGP Public Key on request

[2015-01-14 04:44] RaymiiOrg opened #123 "http basic auth fails"
With this extension enabled every website that uses http basic auth fails to login. When added to the whitelist the basic auth works again.

Not an issue for me, but why is this?

[2015-01-14 08:19] Lucie235 commented on #58
Hi dillbyrne,

thanks so much, 0.9.5.0 seems so solve the prob!

Also billyboy1's hint has been true, he wrote:

"i've the same issue concerning the black icon but it's seems that
BetterPrivacy 1.68 is the culprit because if i deactivate it, RAS icon
work as expected."

Am 13.01.2015 um 21:48 schrieb dillbyrne:

--

[2015-01-14 08:19] danielcra commented on #122
Interesting. I tried the following to verify the issue:
- Created a new FF profile on same machine, installed same ras 0.9.5, activated only the "if-none-match" header option, and loaded http://ip-check.info/?lang=en. Result: *different* e-tag every time.
- Went back to my normal working profile, uninstalled RAS, installed same ras 0.9.5, activated only the "if-none-match" header option, and loade

[2015-01-14 08:40] danielcra commented on #121
I tried again but I could not find any deterministic sequence of actions that causes the canvas tracking to work.

I then installed RA 0.9.5.1 and ticked only canvas protection. I could still reproduce the issue.

I then set network.http.use-cache = false and could no longer reproduce the issue.

Why is canvas tracking related to cache?

[2015-01-15 14:49] dillbyrne commented on #58
@Lucie235 That is good to know. Thanks

[2015-01-15 14:49] #58 closed

[2015-01-15 14:57] dillbyrne commented on #123
Hello @RaymiiOrg The option `Disable Authorization header` on the headers page disables basic authentication. Once that is unticked sites should work. I had a whitelist option for it before but It was not working as expected. So the whitelist in this case should not make a difference if the option is still checked. It sounds like its a bug.

Can you post some sites you have experienced this on so

[2015-01-15 15:03] RaymiiOrg commented on #123
Howdy @dillbyrne,

The `Disable Authorization header` option seems to be unticket by default. After ticking it and unticking it , basic auth works on websites that are not on the whitelist. (I only have work or private related sites behind firewalls, but any apache basic auth will do). When the option is ticked websites on the whitelist still work but sites not on the whitelist don't.

For me it i

[2015-01-15 15:08] dillbyrne commented on #121
@danielcra the steps I took to produce the issue in 0.9.5.0 were:
1 check the canvas option and visit the canvas test page.
2 click on another link to the left such as display ip address
3 press back in the browser to return to the previous page.

in 0.9.5.0 this showed unspoofed values on the canvas test page.
in 0.9.5.1 it showed the spoofed values on the canvas test page.

What steps did you ta

[2015-01-15 15:10] dillbyrne commented on #123
@RaymiiOrg Thanks for reporting this. It definitely sounds like a bug. Thanks for reporting it. I will update the issue when I have had a chance to look into it and fix it.

[2015-01-15 15:35] dillbyrne opened #124 "Add support for different languages in user interface"
This is different from #67

This is to support the language used in the user interface.

[2015-01-15 15:51] dillbyrne commented on #121
You were correct about 0.9.5.1 For some reason it worked when I tested it yesterday but it no longer seems to work so I have made a new update to force the browser cache off by default while the RAS is installed by setting `network.http.use-cache = false`.

Since this affects the whole script injection it looks like this will be a requirement in the github version and the AMO version if they allow

[2015-01-15 16:38] dillbyrne commented on #122
RAS gets a random value and sends it for the if-none-match header. It is not stored anywhere and changes per request as I mentioned above . It sounds like it has to be something with your browser specifically. I'm not sure what could be causing it.

Text will not be stored if the cache is disabled. From 0.9.5.1 onwards it is disabled by default to fix #121 . The current cache method in extras does

[2015-01-15 16:41] dillbyrne commented on #48
@k-h That is great to know thanks. I'm glad you like it.

[2015-01-15 18:25] sbs4000 commented on #120
Hello dillbyrne,

thanks a lot for your fast and useful answer.

[2015-01-15 19:45] dillbyrne commented on #115
I have added the option to show or hide the RAS context menu entry. When the next version of RAS is released you will find the option under the preferences in the addons screen as shown in the images below. I put it there as it is not likely to be used as frequently as the options in the panel.

![115a](https://cloud.githubusercontent.com/assets/2903711/5765072/8ec66e98-9cee-11e4-8444-ef1a91313875

[2015-01-15 19:45] #115 closed

[2015-01-15 21:14] dillbyrne commented on #88
I will be addressing this issue in #27 so I'll close this issue and I'll update the other one when I get it done.

[2015-01-15 21:14] #88 closed

[2015-01-16 11:45] danielcra commented on #121
I can confirm the issue is solved after installing the new 0.9.5.1 version and enabling canvas protection.
Thanks for the prompt response. Excellent work!

Just as a future improvement, it would be great if one could still use the cache and still get canvas protection. And, no, I do not have a brilliant idea how to implement that ;-)

[2015-01-16 12:03] danielcra commented on #122
I am still investigating this. Problem is still reproducible with the latest 0.9.5.1 version. I get identical ETAGs between browser sessions although RAS option "if-none-match" is ON.

As I said I suspect this is something in my browser profile. I tried disabling all other extensions and plugins, but no change. I looked through FF options related to cache that were different from their defaults, b

[2015-01-16 12:37] danielcra commented on #122
Could this be related to proxying...if the proxy does caching?

Interesting also that I get identical etags here http://ip-check.info/?lang=en
but not here: http://noc.to/ (under zombie cookie)

[2015-01-16 17:13] danielcra commented on #122
I now brought the computer to a network where I can connect to the Internet without proxy.
Without changing anything else, I now get a *different* ETAG on every reload of the page above.
So problem is in fact related to the proxy.
I guess there is nothing that FF or RAS can do about it.

(Reason why problem was gone with a new profile is that a different proxy got used.)

[2015-01-16 17:29] ProgerXP opened #126 "Clear local DOM storage"
Currently there's just one choice - to disable the storage. But it would make more sense to have it cleared on exit instead - just like Flash and normal cookies. Some sites (e.g. maps) require storage and rightfully so. Disabling it altogether isn't necessary as long as information there doesn't survive the restart. Basically, treat it as extended cookies.

[2015-01-17 05:00] ARwMq9b6 commented on #126
Yes it is, https://addons.mozilla.org/en-US/firefox/addon/cookie-controller/ will be helpful without dom disabled.

[2015-01-17 05:36] ARwMq9b6 commented on #119
Hello @dillbyrne . I got a new idea to resolve the font issues when I set `browser.display.use_document_fonts` to 0.

GitHub for intance, I download [GitHub web font](https://assets-cdn.github.com/assets/octicons/octicons/octicons-192e5fbb927be7cdb8bdfa0ecb98d3574bd395e58f9d00e5dcdfce5bc9660ac0.woff) and convert it to *.otf which could be installed locally (by [FontCreator](http://forum.portableap

[2015-01-17 08:58] ProgerXP commented on #126
Thanks for the link, I'll use this addon for now. However, it would be nice to have in RAS core since it already can disable the storage.

[2015-01-17 20:30] dillbyrne commented on #121
@danielcra Thanks. I agree the fix is not ideal I agree but having functional canvas protection outweighs the need for the cache. If I can find another way to fix it that does not require loosing the ability to allow caching I will be sure to add it.

[2015-01-17 20:30] #121 closed

[2015-01-17 20:36] dillbyrne commented on #122
@danielcra Thanks for following up on this. I'm glad you found the cause of it.

[2015-01-17 20:36] #122 closed

[2015-01-19 03:42] ldgbc opened #127 "Preferences/Setting Reset when Add-on is Disable and Re-enable"
Recently I have to temporarily display RAS in Add-on Manager, upon re-enable RAS all my setting is removed and is restore to the default setting.

Can you (@dillbyrne) make it so setting isn't remove when you add-on is disable?

[2015-01-19 03:43] ldgbc commented on #115
I'm curious, why did you use to the "new" widget? Is it some kind of e10s requirement?

[2015-01-19 10:25] Bobo8 commented on #48
Sorry for not responding, I didn't use Firefox for long time (I used Opera, but now I move to Firefox). Now it is OK, I have your icon in toolbar. I didn't change anything, then I think, that new version helped.

[2015-01-19 12:34] dillbyrne commented on #115
I used the new action button because the widget is going to be removed from the sdk in the future and the widget was causing problems for some users with icons not showing.

[2015-01-19 12:36] dillbyrne commented on #48
@Bobo8 Good to know thanks.

[2015-01-19 12:36] #48 closed

[2015-01-20 02:35] marzametal opened #128 "Timezone and Resolution Spoofing..."
I am over the moon with this product. It allowed me to remove two other addons that I had, since they were dong a bit of everything.

The only concern I have is, it falls short just the same as FireGloves addon did. I cannot for the life of me get the time zone spoofing or the screen resolution spoofing to work! When I go to Panopticlick or other similar websites, it display the original time zone

[2015-01-20 12:56] dillbyrne commented on #128
Hello @marzametal

Cyberfox should not make a difference in this case. It works for me on that site.

Can  you try it on a fresh profile with just RAS installed.
https://support.mozilla.org/en-US/kb/profile-manager-create-and-remove-firefox-profiles

[2015-01-20 13:01] dillbyrne commented on #127
@ldgbc this was done due to a bug in the FF SDK. When the bug is fixed I will change the behaviour of disable.

from https://developer.mozilla.org/en-US/Add-ons/SDK/Tutorials/Listening_for_load_and_unload

[2015-01-20 23:15] marzametal commented on #128
Hi BOSS!
Thanks for that helpful link. I tried your addon in a new profile, and it works. I must now figure out which other addons are causing the blockage.

[2015-01-21 00:05] marzametal commented on #128
G'day BOSS... me again.
After creating a new profile, adding RAS and checking the Panopticlick site after adding my addons 1 by 1... I have come to the conclusion that an addon called "CanvasBlocker" prevents the spoofing of screen resolution and time zone.

Here is the link for the addon...
https://addons.mozilla.org/en-US/firefox/addon/canvasblocker/

[2015-01-21 23:53] marzametal commented on #128
When I installed a clean Cyberfox profile, the first thing I did was install RAS. I used the Panopticlick website to test out results. The spoofed time zone and screen resolution showed up perfectly on the site. I added the rest of my addons 1 by 1 and they did not affect the spoofed time zone and screen resolution.

After I added CanvasBlocker, and checked Panopticlick, my "real" time zone and sc

[2015-01-22 12:41] fsadov opened #129 "Strange interaction between RSA and NoScript"
Hello,
One strange behaviour when RSA (github version) is turned on in firefox 31.x: NoScript blocks non-existent URLs even with small index.html which contains only html, body »p« "under construction" and closing text. NoScript shows inline on almost empty page that it blocked two URLs: "http://www.dom.ain/1/21/2015," (notice trailing "," in URL!) and "http://www.dom.ain/1/21/2015" (without ",").

[2015-01-22 19:40] Kagami opened #130 "TorButton-like behaviour"
Hi. Thanks for great plugin.

While RAS provide a lot of options to tune your browser fingerprint, it's rather difficult (especially for non-advanced users) to set it up to make your browser non-unique. Also as was mentioned in #90 it would require constant manual tuning because browser trends are change from time to time.

So what do you think if RAS would provide option out-of-the-box to make yo

[2015-01-22 23:35] marzametal commented on #128
My apologies... I totally messed up, didn't realise canvas blocking was included in the latest version. For some reason, I set my addon updates to manual... sorry for the alarm!

[2015-01-23 10:31] dillbyrne commented on #128
Hello @marzametal no need to apologize. I'm closing this now that you have resolved your issue ?

[2015-01-23 10:31] #128 closed

[2015-01-23 10:44] dillbyrne commented on #130
Hello @Kagami

Panopticlick is out of date so while it is useful I would not be relying on that for a true test of uniqueness. The main things contributing to uniqueness in the case of RAS are the date and timezone strings, on which I still have more work to do and the fonts, or lack of fonts I should say as we use a limited subset for now.

The thing about the fingerprint is that it is only usefu

[2015-01-23 10:47] dillbyrne commented on #129
Hello @fsadov

I will need the site url to test it on.

I will also need the output of `about:support`
specifically your os version, addons installed and browser version

[2015-01-23 10:52] dillbyrne commented on #119
Hello @ARwMq9b6

Sorry for my late reply. I am in the process of moving at the minute so I will look into this when I get a chance and get back to you. It'll probably be sometime next week.

[2015-01-23 11:40] Kagami commented on #130
Yea, I'm fully aware that for real anonimity only TBB should be used. I'm just thinking that it still be useful to make your "normal" browser profile less unique and trackable.

[2015-01-24 23:43] deqoksijnc commented on #54
For desktop it would seem that fullScreen would still be the "least fingerprintable" option? Luckily a large enough share of users run their browsers in fullScreen.

Afaics maximised windows suffer from highly configuration specific window decoration size so they will offer much more fingerprinting opportunities.

Changing (spoofed) window size and offsets randomly might also work, but if the remo

[2015-01-24 23:54] deqoksijnc commented on #114
Autoupdate can be done but I am not so sure I would want to have anything autoupdated from github.

[2015-01-25 13:56] deqoksijnc opened #131 "cleverer random switching"
Timer based switching is useless or even counterproductive if the remote server can track us by other means.

Most importantly, while there are still tabs open for a domain the remote side has many easy possibilities to track us:
* cookies
* javascript storing data and doing remote requests or adding cookies

Fighting this  might be doable like this:
(1) sync cookie deletion and other spoofing mea

[2015-01-30 14:09] evdw87 opened #132 "Date picker not working"
Hi, whenever I have time zone spoofing enabled with other than the default setting, the date picker (arrival date and departure date) on http://www.hotels.nl/ fails. Any clue?

[2015-01-30 16:00] gitoss opened #133 "Gecko mode (enhancement)"
Great extension, one suggestion though: Add a checkbox "gecko mode" that only enables gecko-based browsers (firefox, palemoon, iceweasel, seamonkey, ...). At the moment, you have to scroll through the whole long list and disable every non-gecko browser one by one.

The reason is that using this proposed feature in conjunction with "desktop only" has the least potential of screwing up the rendering

[2015-02-01 22:59] marzametal opened #134 "Feature Request: Spoof Browser Size"
Hi... your plugin works like a charm in all aspects, and am loving the screen resolution spoof. However, I recently came across this website "http://whatsmyuseragent.com/".
It has a category for screen resolution AND for browser size... is there any chance to add an extra spoof for browser size?

![example](https://cloud.githubusercontent.com/assets/10607150/5994321/2364575a-aac2-11e4-9d37-bee529f

[2015-02-03 11:19] Mosrite opened #135 "Prevent HSTS Super Cookies"
Apparently, there is yet another instrument that could be used to track users using HSTS which is originally intended to enforce encrypted connections.
http://www.radicalresearch.co.uk/lab/hstssupercookies/
Apparently, this can be circumvented by using incognito mode in the latest Firefox versions, so there seems to be a way around it (I think it is related to Website settings which are automatica

[2015-02-03 12:33] Mosrite commented on #72
Couldn't you just add a feature to change the profile for every new tab that is opened? By this, the functionality would be more similar to the SDC addon.

[2015-02-03 12:44] Mosrite commented on #110
Maybe you could add the same options as "Smart Referer" (https://addons.mozilla.org/en-US/firefox/addon/smart-referer/?src=search)? (Except for user given referer maybe and whitelist source).
I think the best setting would be to send the URL you're going to as referer, but not to treat subdomains as different domains. This works most of the time and prevents tracking.
(And we could get rid of an a

[2015-02-03 12:52] ProgerXP commented on #110
That's great idea - to send Referer to resources within the current high-level domain (2nd level) but send blank Referer to all others. Simple to implement too.

[2015-02-04 17:56] dillbyrne commented on #54
I doubt very many people run in fullscreen all the time but I will add an option and you can check it if you wish.

This issue when completed should account for the various browser and system toolbars.

currently they are set per request and if the random or profile option is selected it will change for each request .  This is assuming that the available different screen sizes for the current prof

[2015-02-04 17:57] dillbyrne opened #136 "Add option to spoof full screen javascript value"

[2015-02-04 18:18] dillbyrne commented on #114
I can add an option to check for updates on startup and notify the user. If there is an update it will open the latest release page where the user can choose to download it themselves and
can manually verify the checksums before doing so.

This would of course be optional

@ldgbc @deqoksijnc  would this be sufficient ?

[2015-02-04 18:26] dillbyrne commented on #131
@deqoksijnc It depends on how you browse. I deny cookies by default but I am well aware that is it not the default behaviour for most people.

1) I have plans to add cookie options to RAS . I plan to delete cookies as soon as the user is done with them and have a block all option with the ability to whitelist specific cookies.

2) Per tab profiles is not currently an option. I tried it before and

[2015-02-04 18:30] dillbyrne commented on #72
@Mosrite This would then change all the currently opened tabs to use that new profile once a request was made so it is in effect the same as having it on a timer.

[2015-02-04 18:56] dillbyrne commented on #132
Hello @evdw87 . Sorry about the delay in getting back to you. The current date spoofing code needs a lot of work and is in the very early stages. it is currently only updated per request so when a page is loaded we send a fake date which is used is all calls to the date object. This is why I suspect the date picker is breaking it is trying to load different dates for the picker and it is not worki

[2015-02-04 18:56] #132 closed

[2015-02-04 18:58] dillbyrne commented on #66
During research I noticed the date strings are presented differently across different platforms such. This will have to be accounted for when spoofing.

[2015-02-04 19:10] dillbyrne commented on #133
Hello @gitoss

Thanks for the support.

The desired functionality would be best achieved by using a custom `useragents.json` file. I can help you if you require.

Or alternatively you could set the exclude option for each profile.

There are already many checks happening each time a profile is switched and I do not want to add any more if I can avoid it because each check slows it down.

[2015-02-04 19:33] dillbyrne commented on #134
@marzametal sure I'll add it. I just need to find the javascript object and methods it is using. to do it.

[2015-02-04 20:01] dillbyrne commented on #135
@Mosrite

The value never stays the same for me.

I'm blocking cookies with Cookie Monster.
I'm allowing javascript for the purpose of the test with NoScript

Using RAS with the following options

random desktop
sending the accept headers
disabling authorization headers
No referer is sent
all the extras are enabled
screen spoofing is set to profile
timezone is set to random.

[2015-02-04 20:05] dillbyrne commented on #135
After some testing it seems no script is causing it to fail in its tracking. The full addresses option has to be used under No Script's appearance tab. This is not a fix however as all the tracking could be bundled in one script.

Request policy may help with this also.

I will look into this when I get time and see if there is anything I can do.

[2015-02-04 20:13] Mosrite commented on #135
Well, I guess it needs JS enabled and saving of website settings in Firefox. Therefore, if you check all extras within RAS browsing history is disabled which maybe disables saving of website settings as well? This is all just a guess, though...
If I understand the method correctly then all it needs would be to make Firefox not saving the HSTS flags.
I'm not sure if this would have any impact on se

[2015-02-04 20:36] dillbyrne commented on #110
@Mosrite @ProgerXP Sure that could work, care has to be taken that the referer method used does not make the user stand out. As I said I will look into it and I will update this issue when I do.

[2015-02-04 20:45] dillbyrne commented on #135
@Mosrite it would have an impact if hsts was disabled as it would allow a rogue CA to present a cert for a site . see point 2 on https://wiki.mozilla.org/Security/Features/CA_pinning_functionality

From the limited reading I have done on it thus far the fingerprinting here appears to work by checking if you have hsts flags set for a site you previously visited and then checks these sites against a

[2015-02-05 12:48] God42 opened #137 "Autoupdate when installing from Github"
Edit: Oh, sorry, I have notice that my question is already answered

Thank you for your great privacy add-on! Does your add-on automatically updates when installing from Github via .zip-file?

Thank you very much.

[2015-02-05 21:33] dillbyrne commented on #137
Hello @God42 . Don't worry about it :)

[2015-02-06 06:52] gitoss opened #138 "Whitelist gui improvement"
Since I have found this, I'm a big fan and have dumped the old "user agent switcher" instantly.

However, there is one thing that imho impairs the actual usability: you need to add domains to the whitelist manually, probably adding the specific exclusion items. While this of course "works", it isn't KISS and if many sites don't work with a spoofed browser, experience tells us people rather stop us

[2015-02-06 06:55] gitoss commented on #133
Thanks, makes sense. I'll drop this in favor of a better whitelist gui (see other ticket) to quickly un-break sites that cause problems. Keep up the good work!

[2015-02-06 14:57] dillbyrne commented on #138
@gitoss This was my plan for the whitelist all along. The mouse context menu is already in place . I thought I had an Issue open for this already but it seems I don't. I agree completely that the usability needs to be improved. Lately I have been busy moving home so I have not had a chance to work on RAS but I'll get back to it in the next few days.

Thanks for your support and for supporting free

[2015-02-06 14:59] dillbyrne commented on #133
@gitoss Thanks. If you would still like to have a custom version I can help you with it.

[2015-02-06 14:59] #133 closed

[2015-02-06 17:45] dillbyrne commented on #124
I missed the notifications and context menu entries so I'm reopening this until I add them

[2015-02-07 17:28] junglegeek opened #139 "New Feature Request - Create Profiles of Agent Spoofs"
I love this Add On.    The only feature missing to me is to create a way to create various profiles or favorites.   For example  use Agent Spoofer it is, select all appropriate Spoof characteristics and Save it to a favorite or profile that you can name and use later.    This way you could easily switch between a variety of setting characteristics.  Sometimes i just want to change the browser or a

[2015-02-08 15:03] dillbyrne commented on #138
I was looking into being able to associate all the requests with the tab that made them and I found a way to do it however it would no longer work when firefox switches to a multiprocess architecture.

I need to be able to associate a request to tabs so users can have noscript like option of whitelisting third party site requests  in each tab that a site may depend on. This would allow users to ri

[2015-02-08 15:14] dillbyrne commented on #139
Hello @junglegeek

I have an issue open already for allowing custom profiles #61 . Not every option in RAS can be done per url. Some options are global only such as the browser cache.

I was thinking about eventually adding a slider of presets which would apply certain settings but many of the settings I had in mind still have to add and many of the current options need work such as the date stuff

[2015-02-08 15:19] #124 closed

[2015-02-08 20:42] dillbyrne commented on #114
RAS now has the option to check for updates on startup, which is enabled by default but can be disabled and an additional option to download the update automatically which is
 set to disabled by default.

When the automatic download option is disabled, the latest release page is
opened instead in a new tab where the user can manually verify the download.

When the automatic download option is enab

[2015-02-08 20:48] dillbyrne commented on #114
I still have to add the translations for the new strings added when implementing this.

[2015-02-09 08:29] letorbi opened #141 "Whitelist option for authorization header"
Hej,

is there an option to allow authorization headers on certain sites? The wiki says that there are the options `referer`, `xff`, `via` and `ifnonematch`, but nothing like `authorization`.

It would be really nice to allow authorization headers on certain sites. For example to make Firefox Sync work again (see also #92).

Bai
Torben

[2015-02-09 09:24] letorbi commented on #92
Once #142 has been merge into the main repo you can use the following whitelist lines to allow Firefox sync:

    [{"url":"firefox.com","options":["authorization"]},{"url":"mozilla.com","options":["authorization"]}]

This think the domain names could be more specific, but I haven't had the time to check it any further.

[2015-02-09 09:42] ProgerXP opened #143 "Web-P/M not working when in Chrome/Opera UA mode"
This is direct consequence of #96. When RAS spoofs UA to be Chrome or Opera >12 it will also send Accept headers to allow for Chrome-specific media formats. For example, if you visit Play Store you will see that all pictures are broken. This makes RAS unusable when it's spoofing Chrome and given that Firefox is only a small fraction of all UAs this happens 70% of all time.

On the other hand, I ca

[2015-02-09 13:15] Gemkhy commented on #143
Hi ProgerXP, sorry if i will post here just to contact you, Please Contact me or reply on email. i already send message in your gmail. please check. Regarding Khan Online: Server emulator. my email: gemkhy@yahoo.com.ph

Thanks! looking forward for your positive response.
you can delete this message after your read . thanks

[2015-02-09 13:38] dillbyrne commented on #143
@ProgerXP  The only options I can think of are to whitelist the affected sites, exclude problematic profiles or in this case avoid the play store and use https://github.com/onyxbits/Raccoon instead

Other than the above there is not much that can be done. Changing the accept headers would make the browser stand out too much so that is not an option.

@Gemkhy this is not a personal message board. U

[2015-02-09 13:38] #143 closed

[2015-02-09 14:32] dillbyrne commented on #141
@letorbi There was initially support for the authorization header which was implemented exactly as in your patch but It didn't work in my tests so I took it out but now that I think of it I probably didn't whitelist one of the urls required for it to work .

I have merged your patch. Thanks @letorbi

[2015-02-09 14:32] #141 closed

[2015-02-09 14:43] dillbyrne commented on #92
The accounts.firefox.com site also requires  `Disable local dom storage` to be unchecked .

[2015-02-09 14:46] dillbyrne commented on #92
@letorbi have you tested the whitelist rule above with firefox sync ?

[2015-02-09 14:47] ProgerXP commented on #143
I'd do this but it's surprising how many and diverse sites have this feature of optimizing for Chrome. Sadly I can't think of a solution either but this problem gets in a way of normal web surfing.

I'd be grateful if you could just remove his message.

[2015-02-09 15:05] dillbyrne commented on #143
@ProgerXP You could always compile a version of RAS with only firefox / palemoon / iceweasel profiles if you want. There is not really much I can do about sites optimizing for chrome.

I have deleted the comment.

[2015-02-09 15:48] ProgerXP commented on #143
Problem is I don't want to exclude Chrome/Opera from the list of spoofed UAs, they are a good share of all UAs out there. But the only workaround to this I see is built-in support for Web-P, which is somewhat optimistic (and isn't the feature I'd hold my breath for).

Anyway, just a food for thoughts.

[2015-02-09 16:22] Monessem opened #144 "option for per-site user agent switcher (per each site (domain)."
maybe this one of the best user agent switcher for Firefox but i think missed per-site agent switcher (per each site (domain).
to open some service work with other browser like Google inbox , whatsapp web
B.W

[2015-02-09 17:19] letorbi commented on #141
Thanks for the fast merge :+1:

[2015-02-09 17:22] letorbi commented on #92
Yes I've tried. It seems to work for me - even without `local.storage` disabled. However, I just checked whether Firefox shows an error message when trying to connect to the sync server. I didn't test if the data sync actually works.

[2015-02-09 17:31] dillbyrne commented on #92
@letorbi if you have a firefox sync account would you mind testing if it syncs the data ? if not I will make an account to test it.

The local dom storage was needed for the signup page to display the form.

[2015-02-09 18:51] letorbi commented on #92
I'll check whether it works or not and think I may have some results tomorrow evening...
On Feb 9, 2015 6:31 PM, dillbyrne <notifications@github.com> wrote:@letorbi if you have a firefox sync account would you mind testing if it syncs the data ? if not I will make an account to test it.

The local dom storage was needed for the signup page to display the form.

—Reply to this email directly or vie

[2015-02-10 10:45] Mosrite commented on #119
I don't know how but Tor browser seems to have found a more usable solution for this. According to ip-check.info only three fonts can be enumerated: monospace, serif, times new roman.
But it doesn't change the look of websites as drastic as the "Use standard font set" option in RAS. Some sites will still be changed (e.g. getpocket.com), but most sites look "normal" even if fonts aren't enumerable

[2015-02-10 17:30] letorbi commented on #92
Syncing from the Desktop (RAS enabled) to my mobile (no RAS) works, but vice versa doesn't seem to work. I'll investigate further...

[2015-02-10 20:31] drake1989 opened #145 "Feature Request-Option to add custom useragent"
There should be an option to use a custom user-agent if we want our useragent to stay the same for each session along with the option to change it per session and cycle through each presets. There should be a feature where it spoofs browser sizes and resolutions with each session that would make this addon awesome.

[2015-02-11 08:22] drake1989 opened #146 "detecting real ip"
Addon does a good job spoofing ip on most sites but not on this site http://whatismyipaddress.com/ this site will detect your real ip hope admin can fix this and also add an option to spoof browser size and resolution.

[2015-02-12 15:30] Mosrite opened #147 "Window.name breaks Youtube comments --> Add to default whitelist?"
I just figured out that protecting window.name breaks Youtube comments. While it is easy to set up a whitelist entry it took me a while to find the cause for this problem.
Maybe you could add window.name for Youtube to the default whitelist?
--> {"url":"youtube.com","options":["canvas","windowName"]}

[2015-02-12 20:10] copywrong commented on #144
+1

Sometimes people don't want to spoof user-agent in some websites.

[2015-02-13 15:49] dillbyrne commented on #146
@drake RAS is not supposed to hide your IP address the XFF and VIA headers are related to routing. This is explained in the [user manual](https://github.com/dillbyrne/random-agent-spoofer/wiki/User-Manual#headers-tab-options)

[2015-02-13 15:49] #146 closed

[2015-02-13 15:54] dillbyrne commented on #145
Hello @drake1989  There is already an issue open for this #61 . Closing this as it is a duplicate

If you want it to stay the same then pick a specific one from the expandable lists. It already does spoof the screen resolution.

[2015-02-13 15:54] #145 closed

[2015-02-13 15:55] dillbyrne commented on #92
@letorbi thank you. I'll leave this issue open until we know more

[2015-02-13 16:09] dillbyrne commented on #147
@Mosrite I added it. Thanks for the help :+1:

[2015-02-13 16:09] #147 closed

[2015-02-13 16:29] drake1989 commented on #145
ok dillbyrne i understand, if u ever do make an update pls try to add random ip changer so it hides your real ip and spoof your browser window size not just your screen resolution size and an option to choose which country to appear your ip is from that would be great, this is still a great plugin btw.

[2015-02-13 16:42] dillbyrne commented on #144
@Monessem @copywrong that is what the whitelist is for, It allows you to define what the whitelist profile is and is set to a recent version of firefox by default for maximum compatibility.

As I have stated elsewhere I will not be adding per site profiles. The reason for this is that I tried it already and it slows down page loading to a crawl. As RAS is not simply changing a user agent there are

[2015-02-13 16:47] dillbyrne commented on #145
Thanks @drake1989 .

I will not be adding IP spoofing because it is beyond the scope of this addon. You will need to route your connection through a different location to hide your IP. I can add an option to set proxy settings if you would like but you will have to provide your own proxy.

If you want to protect your IP address look at https://torproject.org

[2015-02-13 16:50] dillbyrne commented on #119
I think they do it by restricting the amount of calls to `@font-face` that a site can make. I could block or allow fonts at the request level but many still get through so the `@font-face` method would be better if I can figure out a way to do it. I think they may patch the browser itself to do this.

[2015-02-13 17:08] #131 closed

[2015-02-13 17:10] #137 closed

[2015-02-13 17:13] dillbyrne commented on #114
I found out how to update using the built in update mechanism. https://developer.mozilla.org/en-US/Add-ons/SDK/Tools/cfx#updateURL_and_updateLink

So I will remove my custom solution and use the built in one. The built in update system supports code signing too so it is the better option.

[2015-02-13 17:48] letorbi commented on #92
Hej guys,

I'm back again :) I just did some heavy testing and found out some strange things:

  1. Sync works with all features enabled except for *Disable Authorization header* and whitelist
  2. Sync works with 1.) and the default whitelist enabled
  3. Sync works with 2.) and `{"url":"firefox.com","options":["authorization"]},` added to the whitelist
  4. Sync doesn't work with 3.) and `{"url"

[2015-02-13 18:14] letorbi commented on #92
Ok, here's my second series of tests:

  1. Sync works with __all features deactivated*__ - the whitelist is disabled
  2. Sync works with __1.)__ and the default whitelist enabled
  3. Sync works with __2.)__ and `{"url":"firefox.com","options":["authorization"]}` added to the whitelist
  4. Sync doesn't work with __3.)__ and `{"url":"mozilla.com","options":["canvas"]}` added to the whitelist
  4

[2015-02-16 23:11] drake1989 commented on #145
hi dill can you please add an option to spoof browser size i know you added
spoof screen resolutions which is great.

On Fri, Feb 13, 2015 at 10:47 AM, dillbyrne <notifications@github.com>
wrote:

[2015-02-17 13:15] Mosrite commented on #119
I just found a Firefox addon that does exactly what you described: FireGloves (http://fingerprint.pet-portal.eu/?menu=6)
It was supposed to be just a proof of concept and development stopped. But it still works.
It has an option to limit enumerable fonts per tab, which (I guess) works in a similar way than Tor Browser does it.
Maybe you could implement this feature in RAS?

[2015-02-21 09:11] scorpiszter commented on #114
Hello master.
Can you update for Choose A Browser Profile :  Random (Mobile Only)?
Thank's You.

[2015-02-22 18:41] drake1989 commented on #134
hi dill will you be adding a option to spoof browser size if not could we pay for certain request to be made?

[2015-02-24 14:03] dillbyrne commented on #27
A quick update on this. I am  working on removing the toggle system for this issue . This relates to the option to enable or disable RAS from within the addon. Users will still be able to select the default profile to disable profile spoofing but this will not toggle the extras as the enable/disable system did. They must be toggled individually.

This has a number of advantages.

It will lead to l

[2015-02-24 14:04] dillbyrne commented on #134
@drake1989 As I have said above I will add it. I am working on #27 at the minute which requires a lot of changes to implement so when I get that done I'll have a look at it.

[2015-02-24 14:06] dillbyrne opened #148 "Add Random Mobile only option"

[2015-02-24 14:09] dillbyrne commented on #114
Hello @scorpiszter I have opened a new issue for your request #148 . You can track it's progress there. I will get to it when I can. If you have anything more to say please use that issue. I will be deleting your comment on this issue as it is not related to this issue.

[2015-02-24 14:11] dillbyrne commented on #119
@Mosrite I am aware of that addon. Tor Browser patches firefox to implement this. I may be able to do it using javascript injection. I will look into it when I get a chance.

[2015-02-24 14:13] dillbyrne commented on #145
@drake1989 I have responded to your query in the other issue. Please stick to that issue and stop posting in other issues that have nothing to do with what you are asking.

[2015-02-24 14:19] dillbyrne commented on #92
@letorbi Thanks for testing this. I appreciate it. I can't see any reason why it should break it but I can log the urls for firefox sync in the console and see if that can shed some light on the issue. I will do it after I finish #27.

[2015-02-27 13:01] dillbyrne opened #149 "Notifications are not always displayed on FF36"
I need to investigate this further to find the cause. The error messages listed in this [bug report](https://bugzilla.mozilla.org/show_bug.cgi?id=1130830) are present but I am not sure if they are related to this notification issue .

[2015-02-27 14:43] dillbyrne commented on #149
This issue does not occur on windows 7 with firefox 36 with the current stable version of RAS. It happens on linux. I suspect it is due to a change in how the notifications are  displayed on linux.

I will need to investigate this further.

[2015-02-27 23:34] TheHighborne opened #150 "The screen size and time zone spoofing doesn't work anymore."
I'm fairly new to this add-on, so I'm not sure if it's just an error on my side, but Firefox 36 seems to have caused quite a few bugs. I installed RAS today after the update and the ability to spoof the time zone, the screen size and possibly other options are not working correctly. I tried different settings for both options, but the test scripts on browserspy.dk give me always the same results.

[2015-02-28 12:18] dillbyrne commented on #150
Hello @TheHighborne . It is still working fine for me with firefox 36. The only issue I have noticed was with some notifications not showing up but windows is not affected by that and I have only had a chance to test linux and I think that could be a problem with the sdk library itself and what ever way it interfaces with libnotify.

The screen spoofing and some other options use script injection

[2015-02-28 13:21] TheHighborne commented on #150
This is strange, I added a new profile and everything worked as intended. Then I started removing some add-ons and scripts from my default profile and suddenly the options worked as well. I readded every single thing I removed but the problem is still gone. I couldn't locate the source, even after trying the whole process a second time, perhaps it was related to the install order of some scripts,

[2015-03-01 18:31] Mosrite commented on #147
Same goes for pictues (and fonts?) of the Play Store web app:
{"url":"play.google.com","options":["windowName"]}

[2015-03-02 01:27] Gizzah opened #151 "RAS overrides firefox preferences without any user input."
I noticed a strange and unnecessary behaviour. The settings "Disable browsing and download history" and "Use standard font set" are working as intended, but it's fairly easy to get the desired effect in the firefox preferences without using RAS. In the case of setting custom fonts, it's actually the more desirable way, because you can decide which fonts to use, RAS only offers the standard font se

[2015-03-03 15:26] drake1989 opened #152 "Feature Request - An option to use and input a custom user agent string"
Can you add an option for us to add a custom useragent string and use sometimes i like to use a custom useragent instead of random ones per request?

[2015-03-04 14:40] #152 closed

[2015-03-04 14:41] drake1989 commented on #152
there is no need to add this i found another addon that does it

[2015-03-05 20:33] #27 closed

[2015-03-05 20:34] dillbyrne commented on #152
@drake1989 ok I'll be adding custom preferences eventually.

[2015-03-05 20:57] dillbyrne commented on #151
Hello @Gizzah

Some background on this.

When I designed RAS I wanted a quick way to enable/disable all the options applied by the addon. As such I implemented a toggle system which kept track of the choices for each preference while the addon state was toggled off.

 The meant restoring the changes made by RAS to a working state while the addon was disabled but still keeping track of the options

[2015-03-05 20:57] #151 closed

[2015-03-05 21:02] dillbyrne commented on #150
@TheHighborne Thanks for the kind words :smile_cat: . As for the script breaking it could be due to RAS's script injection. It could be the date spoofing breaking it on the post timestamp for example .

[2015-03-05 21:03] dillbyrne commented on #147
@Mosrite I'll update the default whitelist again soon

[2015-03-05 21:54] dillbyrne commented on #149
While trying to find the exact cause of the issue I found out that removing the notification icon will result in the notifications being displayed all the time. I have temporarily removed the notification icon for now in the last commit until a better fix can be found

[2015-03-06 19:43] louipc commented on #89
There is a nice plugin here too: https://github.com/muzuiget/referrer_control

[2015-03-06 19:59] louipc opened #153 "Refresh loop"
Using version 0.9.5.1 on firefox 36, I get sent into a refresh loop if I visit this page:
http://www.cbc.ca/m/news/alain-philippon-phone-password-case-powers-of-border-agents-and-police-differ-1.2983841

I have to disable the add-on via the firefox settings to stop the loop. Clicking [Disable RAS] checkbox does not stop it. Not sure if this appears in previous versions.

It may not enter the loop

[2015-03-06 20:25] dillbyrne commented on #153
hello @louipc  I can confirm this. It has to do with the script injection which works on most sites but it seems to be causing a loop on this site. It seems the fact it is injected at all is causing problems.

The only thing I can do to prevent this is add an option to completely disable script injection. This will of course prevent screen and date spoofing, window name protection, spoofing of the

[2015-03-06 20:49] louipc commented on #153
On Fri 06 Mar 2015 12:25 -0800, dillbyrne wrote:

Would it work to disable script injection, load the site, then enable?
I think that is a resonable solution for now. Thanks.

[2015-03-06 21:08] dillbyrne commented on #147
@Mosrite fonts not displaying would be due to using the standard font set which does not have fonts for certain icons.  The profile influences the pictures as google forces webp for webkit based browsers.

What is the "windowName" option added for ? it does not make any difference to the pictures or fonts. I don't have an account so I'm guessing it is comments ?

[2015-03-06 21:18] dillbyrne commented on #153
@louipc I have fund the cause it was not script injection as I first thought. it is a combination of the pref "network.http.use-cache" set to false for a fix to #121  and the disable dom storage option.

0.9.5.2 will have an option to disable network.http.use-cache in the extras but it will be set to enabled by default and it will have a "(recommended)" notice beside the  preference.

[2015-03-06 22:09] louipc commented on #153
On Fri 06 Mar 2015 13:18 -0800, dillbyrne wrote:

Ok. Thanks for your help.

[2015-03-06 22:12] dillbyrne commented on #153
@louipc You're welcome. I'm going to close this issue now as I have the GUI entry for the network cache in the master branch already from my last commit. I will try to have 0.9.5.2 released soon.

[2015-03-06 22:12] #153 closed

[2015-03-06 22:44] #144 closed

[2015-03-07 12:21] Mosrite commented on #147
I don't have the font limiting setting enabled. And I'm not logged in either. I just use the Play Store web app occasionally to look up some apps.
Fonts and images weren't viewed properly and this changed when I created a window.name whitelist entry for the Play Store. But maybe it was mere coincidence. If you cannot reproduce it, don't add it to the default whitelist.

[2015-03-10 09:48] heforfree commented on #149
blank white space show for me in windows 8.1 update3
https://gist.github.com/heforfree/9c09a35b8563ed49ca9f

also big icon #116 problem seems fixed in ff36

[2015-03-12 11:42] Rudd-O commented on #121
It really was not a responsible thing to do to blanket disable the browser cache without giving the user a choice.  Yes, in your latest extension, the tick box "disable browser cache" has NO effect, nor is the browser cache disabled only when canvas protection is enabled.

It was also not a responsible thing to change the code and remove migration code that was perfectly okay, then require users t

[2015-03-12 22:06] alct opened #154 "UI/UX improvement"
Hello,

First of all, thanks for this add-on, I use it extensively. Over the past few years, I recommended it countless times during security workshops (privacy cafés, crypto parties, ,...). I have noticed a trend among less tech-savvy people: they get lost in the options. I do believe that updating the wording slightly and tweaking the UI/X could make things better.

Before dedicating time to thi

[2015-03-13 01:45] valencik commented on #154
Nice work! I'd love to see these kind of improvements get accepted.

[2015-03-14 14:52] dillbyrne commented on #154
@alct I love it, great work :+1:  and thank you for the time you put into it. I'll aim to get it included for the upcoming release. I initially kept it plain so it would look ok with custom linux themes such as dark ones but your version is far more cleaner and simpler and anything that helps make it more usable and reduces confusion is a plus.

I'll be a bit busy for a few days but I'll be in tou

[2015-03-14 20:24] alct commented on #154
Great :) Ping me when needed. My mail address is on my website ; I go by alct on (irc) freenode.

[2015-03-16 21:48] magicraja opened #155 "hello sir"
@dillbyrne  - hello sir ..... v glad to find ur add-on . im no expert on coding or programming but your creation is so good for it's purpose ,  invoked me to write 2 lines. Gratitude and thank you .
I have couple of question and wondering if  could ask you .  My ICQ - 687041710  & Jabber -  magicraja@im.hot-chilli.eu.
bit addrs. copied.
cheers

[2015-03-17 12:35] dillbyrne commented on #155
Hello @magicraja I have listed my contact details in the contact section of https://dillbyrne.github.io/

It contains my dev XMPP address and it's  OTR key fingerprint. I have added your account above as a contact.

[2015-03-17 13:00] #155 closed

[2015-03-17 18:46] magicraja commented on #155
hello sir ,

this is my otr - ED7B21EA BADA3234 9D8FE231 32EF2EB5 D887B303 ..... thank you.

[2015-03-18 15:43] dillbyrne commented on #154
I have made a start on this and I have a good bit of the changes added, I still have to do some work so the changes are applied to the UI when a selection is made from the context menu.

[2015-03-18 17:36] alct commented on #154
Make sure to get the latest version, I slightly updated the code. I've got some questions regarding the headers tabs, some options are unclear and I have a hard time rewording it.

[2015-03-18 17:44] dillbyrne commented on #154
@alct I will do thanks, Your PoC has been a big help! :+1: . I'm trying to keep it as much like your code where possible, though I need to do the JS stuff myself as it is not jquery and to integrate with existing code.

 I'm not sure there is much that can be done with the header names as they are standard names. Which options do you feel are unclear ?

[2015-03-19 00:09] dillbyrne commented on #154
I have also added the same style used in the profiles tab to the whitelist.

![ras_new_ui_whitelist_tab_preview](https://cloud.githubusercontent.com/assets/2903711/6722018/bd1d21de-cdcb-11e4-83c1-ac207a1a3c0c.png)

@alct I don't mind discussing this here in the interest of openness but if you would like I can PGP mail you or we can discuss it over [XMPP with OTR](https://dillbyrne.github.io/contac

[2015-03-19 01:25] fredsteel54 opened #156 "Valve Steam in-game browser for linux"
here's data from the Valve Steam in-game browser currently running on ubuntu 64bit (desktop)

navigator.appName	Netscape
navigator.appCodeName	Mozilla
navigator.appVersion	5.0 (Linux; U; X11; en-US; Valve Steam GameOverlay/1424305157; ) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/35.0.1916.86 Safari/537.36
navigator.appMinorVersion	Property is not supported! navigator.appMinorVersion is not a st

[2015-03-19 01:27] fredsteel54 commented on #156
some more data

UserAgent from header	Mozilla/5.0 (Linux; U; X11; en-US; Valve Steam GameOverlay/1424305157; ) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/35.0.1916.86 Safari/537.36
User Agent from JavaScript	Mozilla/5.0 (Linux; U; X11; en-US; Valve Steam GameOverlay/1424305157; ) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/35.0.1916.86 Safari/537.36
Browser string	Google Chrome
Operating Syst

[2015-03-19 01:29] fredsteel54 commented on #156
Operating System	Linux/Unix
OS detected via jQuery	linux
OS detected via platform	Linux x86_64 - Linux i686 64bit
OS CPU detected via JavaScript	Property is not supported! navigator.oscpu is not a string. It's a undefined

[2015-03-19 01:47] fredsteel54 commented on #156
oh, I also found this if it helps, they have tons of data:
http://id.furud.net/index.php

[2015-03-19 07:32] alct commented on #154
Let's do it here than ;)

### Headers tab

#### 1. Ambiguity around he various actions

* What does "Disable Authorization header" do exactly?
* DNT header (value: none or enabled), when "none" is selected, does it send the field at all or does it send a DNT: 0?

As for the following options, it is unclear why they are separated and what "Accept headers match the selected browser profile" means.

[2015-03-19 07:51] alct commented on #154
P.S.³ Make sure to check the web version of this thread (the problem with the outdated CSS might come from the fact that I've updated my first comment to point to the version but that you received only one mail notification for the original message).

[2015-03-20 20:04] dillbyrne commented on #154
Initially I planned to offer to the option randomize the headers such as `DNT` in addition to those already present so it was done as a dropdown to account for the additional options. As for how `DNT` is set, It is manually set it in Chrome.js like

[code]

Sending a blank string when `none` is selected causes the header not to be sent at all and selecting enabled causes `1` to be sent asking the

[2015-03-20 20:08] dillbyrne commented on #156
Hello @fredsteel54 . I'll add this profile into the console browsers section when I get some of the current issues done. It'll be in 0.9.5.2. Thanks for your contribution :+1:

[2015-03-20 20:36] dillbyrne commented on #121
@Rudd-O

Actually it was the responsible thing to do as it addresses a bug in the script injection capability used by RAS, sure the fix is not ideal as I have noted above but I have not found another way to address it yet. It ensured that users who upgraded were protected from leaks by forcing a reload of the page each time.

The "disable browser cache" option in 0.9.5.1 is for different cache opt

[2015-03-22 10:10] tegru opened #157 "Issues with the toolbar button"
Hello,

I think my problem needs some background info to make it more clear:
Well, I use extra add-on bar extensions to keep my Firefox window clean. After upgrading to Fx36 a problem has appeared with some (not RAS) add-on icons doubling their size... and off course the size of the toolbar too....

So I searched for a toolbar add-on that does not have this problem and found Puzzle Toolbars. Howev

[2015-03-22 10:31] ldgbc opened #158 "Microsoft's Internet Explorer's User Agent References"
I recently came across this articles from Microsoft: https://msdn.microsoft.com/en-us/library/ie/hh869301%28v=vs.85%29.aspx

It list many of their product user-agent that you can either (1) User as references to confirm your finding
(2) Copy/paste it rather than install OS and test it yourself.

[2015-03-22 11:19] tegru commented on #157
Sorry, just upgraded to version 9.5.1 and it doesn't seem to have these problems. I'm new to GitHub and didn't find it at first... But why is only such an outdated version available on the Mozilla Add-on site?

Anyways, great add-on. Thanks.

[2015-03-22 16:43] dillbyrne commented on #157
Hello @tegru .

Thanks for your support

The reason for varying icon issues is due to the old widget code which as now been replaced by the ActionButton or ToggleButton .  The older version of RAS used the widget before the Australis UI change and it worked fine. Newer versions use the ActionButton and that is for the Australis version only.

As to the reason why the AMO version is so old. For a l

[2015-03-22 16:43] #157 closed

[2015-03-22 16:53] dillbyrne commented on #158
@ldgbc Thanks for this, but I would still have to test it on a real version to make sure all the other attributes have not changed between the versions, such as the headers for example, as the user would stand out if there was a mismatch.  With IE I'll probably only update the current ones RAS has  and eventually add MS's "Spartan" browser in place of IE when it replaces it .

[2015-03-22 16:53] #158 closed

[2015-03-22 17:39] dillbyrne commented on #154
I have all the UI current proposals implemented with exception of the `Toggle UA exclusion` as I option to use the method mentioned in my previous post, which I updated with screenshots.

I'll keep this issue open as I'm sure there is more we can improve on. In the meantime  I'll get working on the random mobile option.

[2015-03-22 18:34] alct commented on #154
Hey,

Had an unplanned urgent mission, I couldn't work on it as scheduled, sorry. I'm back on Wednesday 25th. I'll have a look at your comments.

[2015-03-22 19:08] zxzxzx123 opened #159 "RAS cannot override if fingerprint script before it"
removed

[2015-03-23 18:32] #159 closed

[2015-03-23 19:05] tegru commented on #157
Thanks for your reply. Very good information. Keep up the good work.

[2015-03-23 19:12] dillbyrne commented on #159
...(i think RAS will be put here)

so, browsersize will not change by RAS

hello @zxzxzx123

RAS injects the script before the document has a chance to load anything .
it uses the `start` paramater for  the `ContentScriptWhen` method of the PageMod object which states

Can you please confirm if you actually were able to read the real values ?

[2015-03-23 19:15] dillbyrne commented on #157
@tegru  no problem. Thanks

[2015-03-23 19:17] dillbyrne commented on #154
@alct No worries. Have a look whenever you can.

[2015-03-23 21:04] #148 closed

[2015-03-26 18:48] dillbyrne commented on #156
Hello @fredsteel54 before I close this can you double check the accept headers and screen size values you submitted above. I ask this because the webkit / Chrome  based browsers generally send `gzip,deflate,sdch` for accept encoding header and this does not match it.

Also the screen size reports 0 for pixel depth and color depth is 0 which is unusual.

I just want to be sure before I close this,

[2015-03-27 10:29] Mosrite commented on #81
Whitelisting doesn't seem to work properly for all domains. E.g. I cannot see the actual map on openstreetmap.org if RAS is enabled, even though I whitlisted the domain completely. Same goes for German journalism project krautreporter.de: I cannot see articles as long as RAS is enabled. Whitelisting the domain doesn't make any difference.

[2015-03-27 11:32] dillbyrne commented on #81
Hello @Mosrite

I'm aware the whitelist needs work. Especially concerning the UI and sites that make third party requests. I intend to deal with the latter after multiprocess functionality has landed in firefox and the codebase is stable and when that is done I'll update the UI around that.

As for your current concern I have not encounter any problems on either sites you mentioned. I didn't have

[2015-03-27 12:25] Mosrite commented on #81
Hmm, that's odd. These sites only work for me when I disable RAS completely. Maybe it is because I use the beta version of Firefox? But if you cannot reproduce this error just ignore it.

[2015-03-27 21:34] fredsteel54 commented on #156
This is weird man, it fluctuates. seems random.

Width	1004
Height	617
AvailHeight	617
AvailWidth	1004
Normal horizontal dots per inch (DPI)	Property is not supported! screen.deviceXDPI is not a number. It's a undefined
Normal vertical dots per inch (DPI)	Property is not supported! screen.deviceYDPI is not a number. It's a undefined
Actual horizontal dots per inch (DPI)	Property is not supported!

[2015-03-27 21:40] fredsteel54 commented on #156
also here's more data. I relaoded the links a few times to see if anything else varied, so far only what i mentioned above fluctuates.

Accepted Documents	text/html
application/xhtml+xml
application/xml;q=0.9
image/webp
*/*;q=0.8
Accepted Charsets	Not available!
Accepted Encodings	gzip
deflate
Accepted Languages	en-us
en;q=0.8
=====
Browser says that it has GZip support?	Yes via gzip
Browser suppo

[2015-03-27 21:59] fredsteel54 commented on #156
ok I kept refreshing it a bunch of times and it seems to be this:

Width	1004
Height	617
AvailHeight	617
AvailWidth	1004
Normal horizontal dots per inch (DPI)	Property is not supported! screen.deviceXDPI is not a number. It's a undefined
Normal vertical dots per inch (DPI)	Property is not supported! screen.deviceYDPI is not a number. It's a undefined
Actual horizontal dots per inch (DPI)	Property

[2015-03-27 22:13] fredsteel54 commented on #156
I thought maybe it was some cusomt extension put in by vavle.
interestingly when I go to:
chrome://extensions/

it redirects to:
chrome://version/

Which dispalys:

Chromium Embedded Framework (CEF)
Copyright © 2015 The Chromium Embedded Framework Authors.
All rights reserved.
license | credits
CEF	3.1916.1692
Chromium	35.0.1916.86
OS	Linux
WebKit	537.36
JavaScript	3.25.28.15
Flash
User Agent	Mozi

[2015-03-28 13:54] dillbyrne commented on #156
@fredsteel54 Thanks for double checking. I have corrected the screen size and I'll close this issue now

[2015-03-28 13:54] #156 closed

[2015-03-28 19:52] dillbyrne opened #160 "Move limit tab history to 2 option to inject script"
Currently it uses a built in firefox preference to limit this value to 2. While it works it can become annoying very quickly as you can only go two pages in either direction using the browsers navigation buttons.

Since javascript is needed to read the `history.length` property anyway it makes sense to add it to the inject script where it will spoof the value to 2 and users can retain full tab his

[2015-03-28 19:57] #160 closed

[2015-03-31 11:18] bugreport0 opened #161 "RAS 0.9.5.1 breaks procedure for closing eBay account"
When trying to close a logged-in eBay account via http://cgi1.ebay.com/ws/eBayISAPI.dll?CloseAccount there is a menu to select reason categories for closing the account. Normally, once a category has been selected, another menu should appear to further specify the reason. With RAS enabled, however, the website seemingly does not respond to any category selection whatsoever, thereby breaking the pr

[2015-04-02 10:04] dillbyrne commented on #149
Hello @heforfree

Thanks for the bug report.

When you say RAS popup do you mean the panel when you click on  an icon or do you mean the notifications ?

[2015-04-02 10:06] dillbyrne commented on #161
Hello @bugreport0

This sounds like it was the script  injection causing the issue. I will add an option to toggle script injection to the extras and inform users that certain options will not work while it is disabled.

[2015-04-02 10:08] dillbyrne opened #162 "Add option to toggle script injection to the Extras section"
and make it clear to users what functionality is dependant on the script injection.

[2015-04-02 10:11] dillbyrne opened #163 "Add option to use temporary email addresses in the RAS context menu"
allow users to select an option to use temporary a email addresse provider for one time signups.

[2015-04-02 10:14] #163 closed

[2015-04-02 10:22] dillbyrne commented on #154
A screenshot showing the new icons and the temporary email option.
![ras_preview6](https://cloud.githubusercontent.com/assets/2903711/6962219/4caa6fa0-d92a-11e4-976c-da208b7f585f.png)

[2015-04-02 10:26] dillbyrne commented on #163
This option only shows when the context menu is selected on an input box such as an email input box. When selected an option is selected a  random email address is generated and the temporary mailbox is opened in a new tab.

[2015-04-02 10:32] heforfree commented on #149
hello
when i click on an icon toolbar

[2015-04-02 10:49] dillbyrne commented on #149
@heforfree Thanks for clarifying. Is this with version 0.9.5.1 ?
I don't have windows 8.1 on hand to test it but I'll try to fix it for you soon.

[2015-04-02 10:50] heforfree commented on #149
yes it is 0.9.5.1
thankyou very much

[2015-04-02 10:55] dillbyrne commented on #149
@heforfree No problem. I'm a bit busy for the next few days but I'll try to have a test release ready for you soon to see if it fixes the issue.

[2015-04-03 11:00] dillbyrne opened #164 "Time Spoofing does not work on http://ipduh.com/anonymity-check/"

[2015-04-03 17:10] dillbyrne commented on #164
Now that I have had a chance to look at this the  time spoofing does not work on http://ipduh.com/anonymity-check/ due to the fact we only spoof time related strings. That site uses  getHours() etc to get the time. A previous implementation of the RAS date/time spoofing code spoofed these functions but they caused many pages to break which is why they were removed.

Since I already have issue #66

[2015-04-03 17:10] #164 closed

[2015-04-03 17:13] dillbyrne commented on #66
Time based fuctions such as getHours() need to be spoofed in such a way as to not break functionality like the previous version.  Moving the date/time spoofing logic into the inject script will probably address the breakage as the functions will return updated but spoofed data each time they are called.

[2015-04-07 11:27] #162 closed

[2015-04-07 12:21] dillbyrne commented on #161
@bugreport0 I have added the option to disable script injection #162 . When I get a chance I will test it on a temporary ebay account and see if it allows the account to be closed.

[2015-04-07 12:29] dillbyrne commented on #149
Hello @heforfree

Was it working fine for you before the windows update ?

Can you try 0.9.5.1 in a [fresh profile](https://support.mozilla.org/en-US/kb/profile-manager-create-and-remove-firefox-profiles) so I can see if it is a problem with that version in its default state ?

[2015-04-07 13:17] heforfree commented on #149
hello
no problem in new profile,i dont use windows update i used MSMG ToolKit to update iso image
i disabled some addon,after disable some addon i try to enable one by one each of them
and after enable policeman,RAS show blank popup,but with Ras and police man on new profile both working

https://addons.mozilla.org/en-US/addon/policeman

[2015-04-07 13:44] dillbyrne commented on #149
@heforfree I'll try RAS and policeman and see if I can replicate the issue and get back to you

[2015-04-07 13:56] heforfree commented on #149
i see this log too
https://gist.github.com/heforfree/b13e6a94cf548ab1b296

[2015-04-07 13:59] heforfree commented on #149
the same thing happen too Addon List Dumper (restartless) 0.1

Software:Firefox 37.0.1 (20150402191859)
OS:WINNT (x86-msvc)

-Add-ons Manager Context Menu 0.4.2
-Addon List Dumper (restartless) 0.1
-Australis Small Icons 1.0
-Bookmark Quick Mover 0.2
-Bypass Forced Download 0.0.1
-Clear Console 1.11
-CookieKeeper 1.8.5
-DblClicker 1.7.6
-Download Panel Tweaker 0.2.3
-Easy Copy 2.5.2
-FireCaptor 0.

[2015-04-07 19:56] dillbyrne commented on #150
Since the original issue has been dealt with I am closing this now. The next version will have an option to disable script injection should you wish to do so.

[2015-04-07 19:56] #150 closed

[2015-04-07 20:00] dillbyrne commented on #99
@wrzhouse I added options a while back to disable the battery and gamepad API's. So I'm going to close this now.

[2015-04-07 20:00] #99 closed

[2015-04-08 10:20] dillbyrne commented on #154
I plan to release 0.9.5.2 in the next week or so because I want to get it out before firefox 38 is released and I want to get a limited version on AMO.  There are one or two things I want to fix with the UI and then I'll be happy enough to ship it.

@alct I'm trying to reduce the padding / margin above and below the profile items in each OS section to 0.5em and I can't seem to find where your sett

[2015-04-08 11:17] alct commented on #154
I had to hack it here https://github.com/dillbyrne/random-agent-spoofer/blob/master/data/js/optionspage.js#L237

When I'm done working on the markup, we'll be able to put it in `style.css`. We can't do it for the time being because the property is overridden by the JS (and that there's no clean way to target that peculiar element).

[2015-04-08 11:18] alct commented on #154
(please use the following notation `.5em` in the code, no need for a leading 0 ;) )

[2015-04-08 11:35] dillbyrne commented on #154
@alct Thanks.

[2015-04-08 11:42] dillbyrne opened #172 "Add Proxy section to extras"
This will expand to allow users to set the proxy related settings used by firefox

[2015-04-09 02:20] jamesdwilson opened #175 "Conflict with RES - reddit enhancement suite"
Not sure where the fault lies, I will open one with them also.
When RAS is enabled, RES doesn't load.

[2015-04-09 05:01] jamesdwilson commented on #175
Figured out it is an issue with RES not working if "Disable local dom storage" is checked. Still a conflict. Still need a way to let these both work at the same time. I guess whitelist is my only option at this stage?
Ideally I don't have to lose my privacy gained from RAS for this.

[2015-04-09 05:04] jamesdwilson commented on #175
Firefox 37.
RES 4.5.4
RAS 0.9.5 (From github)
https://github.com/honestbleeps/Reddit-Enhancement-Suite/issues/2172

[2015-04-09 12:53] smithhooray opened #177 "[Improvement]Add "Spoof Screen Size" & "Windows Size" a "random" button"
Your project is awesome! I would like to see in a new update "random" button for "Windows Size" and/or "Screen size" just like in UserAgent tab. That would be awesome!

It randomly selects size and doesn't change until the "random" button is pressed again. I don't like the feature that it changes "Screen size"/"Windows size" everytime it visits another page!

Looking forward for your awesome updat

[2015-04-10 10:38] alct opened #178 "IP address' validation"
The [current validation function](https://github.com/dillbyrne/random-agent-spoofer/blob/master/data/js/optionspage.js#L262) doesn't handle IPv6 addresses.

Rather then recoding a validation function, we could either use an existing [library](https://github.com/whitequark/ipaddr.js/blob/master/lib/ipaddr.js) or, drop the validation as a whole (a user wanting to use a custom IP is most probably goi

[2015-04-10 10:58] alct opened #179 ""Via" header validation"
For the time being, a (valid) IP address is required. The [RFC](http://www.w3.org/Protocols/rfc2616/rfc2616-sec14.html#sec14.45) doesn't have such requirement.

[2015-04-10 11:09] alct commented on #178
See #179 as well.

[2015-04-10 12:54] dillbyrne commented on #178
I want to leave the IP address validation as it is for now as I plan to release 0.9.5.2 soon but I will deal with this issue and #179 when implementing #97.

[2015-04-10 13:53] dillbyrne commented on #177
Hello @smithhooray

Thanks for your support.

Currently:

* There is already a `random` option that chooses a random desktop size per script injection.
* There is a `profile` option which chooses a random screen size defined in the current profile per script injection.
* There is an option to manually select a specific desktop screen size.

Adding another random option would confuse users and sinc

[2015-04-10 14:02] dillbyrne commented on #175
Hello @jamesdwilson

It looks like RES requires dom storage to function. The current option in RAS is system wide. I have an [issue](https://github.com/dillbyrne/random-agent-spoofer/issues/117) open to improve the dom storage option in RAS but for now your only option is to allow dom storage in RAS if you want to use both RES and RAS.

I'm closing this issue now and I will post any updates concer

[2015-04-10 14:02] #175 closed

[2015-04-10 16:42] dillbyrne commented on #92
@letorbi @rahulgi1

In my very brief initial test

To sign in `dom storage` needs to be allowed and the following option was required

`{"url":"accounts.firefox.com","options":["authorization"]}`

when testing sync

All options were selected and the whitelist was not disabled and had the following option  added

`{"url":"mozilla.com","options":["authorization"]}`

What worked

sync from desktop to

[2015-04-10 16:44] dillbyrne commented on #114
Just a quick update on this issue. I have tried using the built in update mechanism  on a test branch but I was unable to get it to work. I will try again soon and update this issue when I know more.

[2015-04-10 18:08] bugreport0 commented on #161
Thank you. You don't need a temporary account to test this because eBay would as the last step ask you whether you are really sure to close the account, at which point you could abort.

[2015-04-10 18:09] bugreport0 commented on #161
Thank you. You don't need a temporary account to test this because eBay would, as the last step, ask you whether you are really sure to close the account, at which point you could abort.

[2015-04-10 19:26] dillbyrne commented on #161
@bugreport0 I don't have an account so I'd need to make one anyway :smile: . I'll let you know when I get a chance and get back to you.

[2015-04-11 13:12] smithhooray commented on #177
Well if it won't change screensize everytime it visits another page then that is why I would like to see in new update. It annoys me when I select "random" or "profile" button but it still changes every visit.

What I am saying is that it would be great to see update where the random button in "screen size" keeps the randomly selected dimension just as like where the random useragent button does.

[2015-04-11 17:32] dillbyrne commented on #177
@smithhooray Thanks for the support. I'll update this issue when I have implemented the necessary changes.

[2015-04-11 19:54] letorbi commented on #92
I can confirm that. Bookmark sync from desktop to mobile works, vice versa doesn't.

Maybe the authorization filter gets somehow applied to incoming requests as well?

[2015-04-12 05:39] alct commented on #154
After merging #180, if you've got time, could you:

In the "whitelist" tab:

- reword the sentence from "Disable […]" to "Enable […]" ;
- uncheck the box by default ;
- when the box is unchecked, hide the "Profile" and "Rules" sections ;
- when the box is checked, show these sections.

In the "extras" tab:

- move "☑ Enable script injection" and the following sentence over the section ;
- implemen

[2015-04-12 08:38] dillbyrne commented on #154
Sure I can change the whitelist preference and uncheck it by default and add any necessary upgrade code the handle the pref change. I'll do it when I get a chance , after I merge #180

I would like to keep all the script injection options together in the same section. I have more extras sections planned such as a proxy section, a cookies section, a media/codec related section and so on. I want eac

[2015-04-12 10:07] smithhooray commented on #177
Thanks for taking into conideration! I am looking forward with joy for this update! Keep up the great work :)

[2015-04-12 16:28] Faberman commented on #115
I've just installed the GitHub version of RAS, but I can't find the option to hide context menu entries. Firefox 37.0.1.

<img src="http://armarium.org/u/2015/04/12/b3c8c145cc38886bff3795710ab7e329.png" border="0">

[2015-04-12 18:22] dkasak opened #181 "Add option for controlling the visited links feature"
Differently coloured visited links can be exploited from CSS / JS to check whether a user has previously visited a site. There's an about:config (`layout.css.visited_links_enabled`) flag for disabling this, but it would be neat to have a checkbox in RAS for ordinary users.

[2015-04-12 21:35] dillbyrne commented on #181
Hello @dkasak .

Sure I'll add it tomorrow and it will be available in the next release which should be available sometime  during the coming week.

[2015-04-13 10:01] dkasak commented on #82
For what it's worth, I'm currently using [ChrisAntaki/plugins-and-mimetypes-firefox](https://github.com/ChrisAntaki/plugins-and-mimetypes-firefox) and it prevents the Panopticlick leakage while still allowing me to use plugins (I'm using click-to-play). Perhaps it would be useful to take a look at what he's doing.

[2015-04-13 11:10] dillbyrne commented on #82
@dkasak Thanks. I'll take a look at the when I get time

[2015-04-13 11:32] dillbyrne commented on #82
I had  a quick look at it seems it just adds the pref `plugins.enumerable_names` and sets to a blank string. @dkasak  I'll add it today when I add your other request

[2015-04-13 12:43] dillbyrne commented on #181
@dkasak the css and the plugin preferences you have requested have been added to  the extras section and will be in the next release.

[2015-04-13 12:43] #181 closed

[2015-04-13 16:45] dkasak commented on #181
@dillbyrne Great, thanks!

[2015-04-13 20:11] dkasak commented on #82
Can this be overriden for certain sites through the whitelist functionality?

[2015-04-14 08:07] dkasak opened #184 "Error with Roundcube attachment upload when using RAS"
I have a private installation of [Roundcube](http://roundcube.net/) on an email server which I sometimes use as webmail. I noticed today that when RAS is turned on, uploading attachments makes Roundcube produce a modal dialog saying "An error occured: File upload failed.". However, the file then seems to upload correctly.

I realize this isn't enough information to know for sure what's going on, b

[2015-04-14 11:14] dillbyrne commented on #184
Hello @dkasak in 0.9.5.1 there only 2 settings where no gui option is available in RAS. These are the network cache which was disabled by default as  a fix to #121 and the script injection capability itself.

You can change the network cache preference if you want by setting the pref `network.http.use-cache` to `true` . This cache option is different from the ones already in RAS.

0.9.5.2 has opti

[2015-04-14 11:21] dillbyrne commented on #82
@dagaz This pref simply prevents a site from getting all the names at once. It is a global firefox preference and will be in effect on all sites.

With this preference disabled a site will still be able to query plugins on an individual basis by name but not get them all at once.

To deal with this script injection options will have to added for each plugin to return null or a blank string when qu

[2015-04-14 11:29] dillbyrne opened #185 "Add media section to extras"
This should allow users to toggle support for different media/codec types

[2015-04-14 12:06] dkasak commented on #184
I noticed that you talked about the network cache being forced off elsewhere so I already tried leaving RAS on and setting `network.http.use-cache` to `true` but it didn't help. Since then, I stumbled upon another site that got broken in similar circumstances and then I noticed something weird: it appears that RAS overwrites the first `<script>` element of the page with the script injection elemen

[2015-04-14 12:18] dkasak commented on #184
Well, this is weird. I can't make it not happen on my usual profile even when I disable all extensions except RAS.

[2015-04-14 12:26] dillbyrne commented on #184
Yes RAS needs to inject the script first to overwrite the desired properties so that when subsequent scripts try to get the information the get the injected information. In general most of the settings used in the script injection can be toggled off so by default only a minimal script is actually injected to spoof the vendor attribute.

As I said above 0.9.5.2 will have the option to completely di

[2015-04-14 12:31] dkasak commented on #184
Right, and this is how it behaves for me on a clean, new profile (I took a look at the code and saw you're using `window.document.head.insertBefore`). However, what I'm seeing is the first `<script>` element of the page being *overwritten* with the RAS injection script. That's why I was getting weird errors with RAS on some sites, but I'm lost as to what the cause of this could be. If I can't dete

[2015-04-14 12:31] #184 closed

[2015-04-14 12:35] dillbyrne commented on #184
@dkasak  [0.9.5.1](https://github.com/dillbyrne/random-agent-spoofer/blob/d6dd0f66c38c406b28043bd7d97a1463d9552741/data/js/inject.js#L131) uses `window.document.head.appendChild( script );`

I changed the code for  the 0.9.5.2 release to use `window.document.head.insertBefore`

[2015-04-14 12:37] dkasak commented on #184
@dillbyrne Hmm, right. I guess [this line](https://github.com/dillbyrne/random-agent-spoofer/blob/master/data/js/inject.js#L129) was a bug before, right?

[2015-04-14 12:41] dillbyrne commented on #184
@dkasak Yes it appears so. It would explain the behaviour you are seeing. 0.9.5.2 will be released soon so it should fix this issue. Sorry for the confusion

[2015-04-14 13:13] dkasak commented on #184
Gotcha, thanks. Don't worry about it.

[2015-04-14 13:37] alct opened #186 "Better defaults"
We should consider releasing RAS with predefined options so that it works *out-of-the-box*.

We should go for non-breaking options (in the sense that they do not degrade the user experience to the point that regular applications/websites are broken).

What do you think?

### Profile

- Random (desktop)

### Headers

- Enable DNT (Do Not Track)
- Spoof Accept
- Spoof Accept-Encoding
- Spoof Accept-

[2015-04-14 15:31] dillbyrne commented on #186
RAS already sets the accept headers on by default but they only get applied when a spoofed profile is in use.

RAS will also set the script injection to enabled by default but only the vendor info for the currently spoofed profile is applied in the injection script unless the user explicitly adds the other options using the dropdowns or checkboxes.

As it stands in the current version of 0.9.5.2 R

[2015-04-14 16:35] dillbyrne commented on #186
These are the defaults now. I'm going to close this issue now

Profile

*  Random (desktop)

Headers

*  Spoof Accept
*  Spoof Accept-Encoding
*  Spoof Accept-Language (US English)

Extras

*   Disable network cache (as a fix for #121)
*   Use click to play for plugins (default in firefox)
*   Block active mixed content (default in firefox)
*   Disable browser pings (default in firefox)
*   Disabl

[2015-04-14 16:35] #186 closed

[2015-04-15 09:14] alct commented on #154
Here we go (#187).

Titles (`h2`) in the *headers*, *extras* and *whitelist* tabs have a different style than *profile* tab ones. This is done on purpose and I highly encourage leaving it this way. *Profile* tab titles have a different role than titles in other tabs (if we've got time, I'll replace them by `h3` and update the CSS accordingly - it will be invisible to the user, that's just for the

[2015-04-15 09:20] alct commented on #154
I would also encourage to leave the titles in the *headers*, *extras* and *whitelist* tabs open (expanded).

[2015-04-15 10:59] alct commented on #154
Done.

[2015-04-15 17:03] dillbyrne commented on #154
Hey @alct Great job on this. :+1:

I really appreciate your work on this but I would prefer to have the expanding sections visually the same as those on the profile tab. I think they look nicer and it promotes familiarity . This way we are not providing 2 visually different styles to display extendible content.

I recognize that the content in the expandable sections differs but we already have th

[2015-04-16 12:13] dillbyrne commented on #92
Ok so these are the urls which are used in the sync process

[code]

I managed to get everything working (registration and syncing both ways ) by not disabling the authorization header and not disabling dom storage. For this I didn't  have to add anything to the whitelist.

I will try whitelisting the above urls and see if it works with the authorization header disabled

[2015-04-16 12:33] dillbyrne commented on #92
When the above urls are whitelisted sync only works from desktop to mobile

[2015-04-16 16:24] smithhooray opened #188 "Add Color Depth support"
Your plugin is awesome. Just awesome! I would really like to see in a new update Color Depth support among the Screen Size Spoofing.

One more question. I posted another thread where you said you will update it with the latest code(including my suggestion (https://github.com/dillbyrne/random-agent-spoofer/issues/177) ). So the question is when will it be available? Do I need to compile it by mysel

[2015-04-16 16:34] dillbyrne commented on #188
Thank you @smithhooray

ColorDepth is already spoofed. See https://github.com/dillbyrne/random-agent-spoofer/blob/master/data/json/useragents.json#L22

It is set based on the color depth of the target profile.

When 0.9.5.2 is ready it will be available under the releases section. It'll be available in a few days.

I'm closing this issue now.

[2015-04-16 16:34] #188 closed

[2015-04-16 19:04] dillbyrne commented on #154
I am happy enough with the present look and feel of the UI now and I feel that the objective of this issue has been addressed. I'm closing this issue now so I can focus on the remaining issues, translations and testing before releasing 0.9.5.2 .

@alct Thanks again for all your help on this. :+1:

[2015-04-16 19:04] #154 closed

[2015-04-17 01:53] alct commented on #154
You did well, I was about to suggest to close the thread because it was getting quite lengthy.

Regarding the reuse principle, I'm well aware of it :)

Yet, even though I believe that the UI/UX is better than what is was (and will be easier to improve thanks to the mamrkup cleanup), I also believe that it's not optimal yet.

For instance, forcing the user to take an action (click) to expand a sect

[2015-04-17 09:39] dillbyrne commented on #154
I'm working with the bigger picture in mind so while having them collapsed by default may seem unusual now it will save the user scrolling down a massive list of options when future sections are added and allow them to access the relevant section quickly by clicking it.

Anyway I have work to do for 0.9.5.2 :smile:

[2015-04-17 14:08] hcgrove opened #190 "Request: Whitelist option to allow sites to use fonts"
At work I have to use asana.com and that looks like crap with "use standard font set" (they use some custom font for their icons). I would like to be able to put something like '{"url":"app.asana.com","options":["screen","fonts"]}' in the whitelist json.

[2015-04-17 15:09] dillbyrne commented on #190
@hcgrove Currently RAS can only toggle the document fonts which is a global preference. There is an issue open to improve the way it handles fonts. #119 If I can get it to work using script injection it can be whitelisted.

[2015-04-18 19:53] dillbyrne opened #192 "Some locales break the UI"
This will have to be fixed before 0.9.5.2 can be released
Screenshots to follow

[2015-04-18 21:02] dillbyrne commented on #192
Screen shots of the UI issues during testing.

* da-DK
![da-1](https://cloud.githubusercontent.com/assets/2903711/7217186/66911b76-e613-11e4-837f-c44b898ec425.png)

* de-DE
![de-1](https://cloud.githubusercontent.com/assets/2903711/7217188/68209c6e-e613-11e4-80ad-55ac1265051b.png)
![de-2](https://cloud.githubusercontent.com/assets/2903711/7217192/683b2a34-e613-11e4-8cf9-28ffabfc71d4.png)

* es-ES

[2015-04-19 09:15] alct commented on #192
I'll have a look into it.

[2015-04-19 11:07] dillbyrne commented on #192
Thanks :+1: . By setting the panel width to 480 most of the issues are resolved. Some languages still have problems such as Japanese and Russian with the tabs. I could reword some of the headings on tabs for problematic locales, such  as Extras to Options  and Whitelist to List .

The above should work if we can not find another solution.

[2015-04-19 23:31] alct commented on #192
(I'll have some time on tuesday)

[2015-04-20 17:26] dillbyrne commented on #192
@alct Cool. I'm still working through the locale files and rewording them where necessary I have managed to reduce a number of the issues so far but there are still some remaining despite the rewording.

[2015-04-21 17:06] alct opened #195 "Locales"
While working on #192 , I fixed the French locales #194 and had a good laugh doing so :)

We should stop providing locales that have not been reviewed by a human (native speaker of the given language).

Do you have any insights (from AMO maybe) about what locales are used / where do users connect from for downloading RAS?

Given that:

- there isn't that much content ;
- most of the content refers

[2015-04-21 17:42] dillbyrne commented on #195
From the AMO statistics English, Russian French and German are the most widely used languages with users in the thousands  but there are smaller groups of users of other languages such as Spanish, Chinese and Italian.

I know some parts wont translate over well due to structural differences but it should still be enough to get the general idea.

Some of the strings can't be translated as they are

[2015-04-21 18:19] dillbyrne commented on #195
After reconsidering your post I think there is a strong argument to be made
to remove support for locales. Mainly due to the fact that the majority of the words  are technical in nature.

Doing so would speed up releases, reduce the addon size and avoid any UI issues due to localization.

I will remove locale support soon, test the addon and then if there are no problems I'll release it.

[2015-04-21 18:19] #195 closed

[2015-04-21 18:57] alct commented on #195
Do we try to get rid of it for 0.9.5.2?

[2015-04-21 19:04] dillbyrne commented on #195
@alct Yes I'm removing it now. It makes sense due to your points made above and it will allow for faster releases.

[2015-04-21 19:06] alct commented on #195
Great!

[2015-04-21 20:26] dillbyrne commented on #195
I've removed the localization support and the locales. I'll test the current version during the next few days when I get a chance and then release 0.9.5.2

[2015-04-21 20:26] #192 closed

[2015-04-21 20:51] alct commented on #195
Good job!

[2015-04-22 11:02] dkasak commented on #161
@dillbyrne If @bugreport0 wasn't using a custom-compiled latest master for testing, he may have just stumbled upon the same bug as myself in #184. I just tested the above close account procedure and it seems to work (a list of reasons appear after selecting the reason category).

[2015-04-23 15:31] dillbyrne opened #197 "Investigate fingerprinting of keystroke timing"
* See what research exists on the subject (whitepapers, talks , etc)
* Investigate possible ways we could block it or hinder it
* Some Ideas
    - Add an on screen keyboard ?
    - Hook JavaScript key events to add random delays in milliseconds ?

[2015-04-24 17:06] dillbyrne commented on #147
Hello @Mosrite when you said window.name breaks comments on youtube, was that for posting , viewing or both ?

I'm about to release  0.9.5.2 and as I'm testing it I can view comments fine on youtube with only canvas whitelisted. I don't have a google account to post which is why I'm asking.

[2015-04-24 17:13] dillbyrne commented on #161
@dkasak Thanks for testing it and reporting back :+1: .

[2015-04-24 17:46] Mosrite commented on #147
No, I'm just talking about viewing, I never comment myself.
Apparently,  RAS leads to some issues on my PC that aren't reproducible. So, you shouldn't care about them at the moment.

[2015-04-24 17:56] dillbyrne commented on #147
Thanks for getting back to me so quickly, I appreciate it. It could be the update to the script injection code which is responsible for it. In any case it does not seem needed now.

[2015-04-26 20:53] rullskidan commented on #190
Is it not possible to ad random fonts spoof function? If there is a list of 200 fonts you pick a number like for example 77, then 77 random fonts are generated?

[2015-04-26 21:24] rullskidan opened #198 "Match browser language and time zone"
When you choose profiles there should be an option to have language of browser matched with time zone. It looks suspicious if a user with swedish language browser have the time zone of China. Ok he could be traveling but the chance is slim.

[2015-04-26 21:29] rullskidan opened #199 "Canvas spoofing"
I know RAS can block canvas fingerprint but why can it not spoof it instead? Everything that is blocked looks suspicious! It is better to have a spoofed value instead. It should have a random button like many other functions in RAS.

[2015-04-26 21:36] rullskidan opened #200 "Spoofing flash player version"
Flashlight add-on has this function but it would be great if you could ad it to RAS! The fewer add-ons the better!

[2015-04-27 10:59] Mosrite opened #201 "[Feature Request] Add option to use Mozilla's geolocation service"
Hey,

I think it would be cool if RAS would feature an option to use Mozilla's geolocation service instead of Google's. To achieve this, the about:config entry "geo.wifi.uri" has to be changed to "https://location.services.mozilla.com/v1/geolocate?key=%MOZILLA_API_KEY%".
Admittedly, this doesn't work very well at the moment as it is still in an early stage. But maybe, some people already want to u

[2015-04-28 15:30] 0nse commented on #154
The redesign is a really nice addition. But either I am overlooking something or the option to turn off notifications has been dropped?

[2015-04-28 15:30] 0nse commented on #154
The redesign is a really nice addition. But either I am overlooking something or the option to turn off notifications has been dropped?

[2015-04-28 15:44] dillbyrne commented on #154
@0nse The notifications preference was moved to the about:addons page

![temp](https://cloud.githubusercontent.com/assets/2903711/7373673/d3f76f1c-edc5-11e4-9a7a-4ba0243bd8df.png)

[2015-04-28 15:46] 0nse commented on #154
@dillbyrne that makes a lot more sense and I feel a bit stupid for having overlooked it. Thank you.

[2015-04-28 15:48] dillbyrne commented on #201
Helllo @Mosrite . Good Idea I'll add it in when I get a chance.

[2015-04-28 15:51] dillbyrne commented on #154
@0nse No problem. I moved it there as it is not an option that changes very often. I'll add the changes to the wiki when I get a chance to update it.

[2015-04-28 15:53] dillbyrne commented on #199
hello @rullskidan there is already an [issue](https://github.com/dillbyrne/random-agent-spoofer/issues/111) open for this so I'm closing this issue.

[2015-04-28 15:53] #199 closed

[2015-04-28 15:56] dillbyrne commented on #200
There is already an [issue](https://github.com/dillbyrne/random-agent-spoofer/issues/82) open to decide on how to handle plugins.

[2015-04-28 15:56] #200 closed

[2015-04-28 16:06] dillbyrne commented on #198
I have an [issue](https://github.com/dillbyrne/random-agent-spoofer/issues/66) open for improving the timezone and an [issue](https://github.com/dillbyrne/random-agent-spoofer/issues/67) open for improving the language header options.

The timezone strings will be formatted according to the  accept language header.

I can probably make it work the way you are suggesting when it is in random mode b

[2015-04-28 16:12] dillbyrne commented on #149
@heforfree can you try 0.9.5.2 and tell me if that works for you.

It sounds like it is one of your addons cause issue. Since RAS worked on its own it is not RAS specific. Also https://gist.github.com/heforfree/b13e6a94cf548ab1b296#file-ras2-L17 is the addon list trying to use the widget module which is now obsolete in the addon sdk.

[2015-04-28 16:14] dillbyrne commented on #161
@bugreport0 0.9.5.2 has been released if you want to try that and see if it solves the issue. I have not yet had a chance to look into it.

[2015-04-28 16:24] dillbyrne commented on #190
@rullskidan it is not yet possible as there is no spoof function for fonts that exists. RAS currently uses a built in firefox option to `use document fonts` only. It is only a basic option which I intend to build upon.

Spoofing fonts is a difficult task and can be hard to get right. There are two ways I know of to do it. One is patch the browser itself and the other is using script injection. We

[2015-04-29 06:41] sbs4000 opened #202 "Profile exclusions not persistent"
Hello,

the exclude options in the Profile tab are not persistent. If I exclude some profiles, they are no longer excluded when I reopen FF (37.0.2).

Best

[2015-04-29 10:16] dillbyrne commented on #202
Hello @sbs4000 .

I am unable to reproduce this , it works as expected for me.

Did you install it 0.9.5.2 fresh or upgrade it from 0.9.5.1 ? If so there should be no problems.

[2015-04-29 10:39] sbs4000 commented on #202
Hello dillbyrne,

I indeed upgraded from the previous version. I removed it and reinstalled and now everything works fine. Sorry for that, I should have tried this before posting.

Best,
sbs4000

[2015-04-29 11:29] heforfree commented on #149
hello
on same profile dont work but clean profile working.so if you want close it seems you can not do anything about it.
https://gist.github.com/heforfree/40e0d497c3bc3bbaa961

[2015-04-29 13:44] dillbyrne commented on #202
@sbs4000 What version did you have previous and where did you install if from. If you previously had 0.9.5.1 and upgraded to 0.9.5.2 it should have worked fine. Were you using a version from the mozilla site previously ?

[2015-04-29 13:56] dillbyrne commented on #149
This issue is tracking the notification image issue so I'll keep it open. It could be that the profile has become corrupted or else it is another addon interfering with it as it works on its own in a fresh profile and no other users have reported a similar issue.

My suggestion would be to use a new profile. If you do decide to use a new profile let me know if the issue crops up again. Other than

[2015-04-29 14:47] sbs4000 commented on #202
It was 0.9.5.1 and I believe it was installed from the Mozilla site though I cannot guarantee. All other settings were retained from the previous version after upgrade and were persistent in case of change. Only the profile exclusions were not persistent.

[2015-04-29 16:10] dillbyrne commented on #202
The mozilla version is out of date, it is on version 0.9.3.1 and will not update correctly to the github version of 0.9.5.2.  I'm still working on a limited version of 0.9.5.2 for the AMO site will will allow a clean upgrade.

[2015-04-29 16:10] #202 closed

[2015-05-01 07:25] g2781644 opened #203 "Please bring back "Enable RAS" control"
"The toggle based system was removed as it confused users."

Now I have a big problem: there is no way (at least I have not found one yet) to quickly disable and enable RAS entirely. Very many web sites do not work when RAS is active, so I need this function all day. Disabling RAS through the FF extensions page has the side effect of deleting all RAS settings.

It would also be nice to get the opt

[2015-05-01 09:36] Mosrite opened #204 "Add Flattr Account"
I'd really like to support this project. As I'm not a programmer I cannot add anything to do the code, so at least I'd like to help financially. Could you set up a Flattr account for RAS?

[2015-05-01 10:46] DaarkWel opened #205 "(Linux) Unreadable GUI with dark GTK theme"
I guess GUI window somehow uses font color from GTK, but background color is hardcoded white. So with dark themes it looks like this:

![Screenshot](http://storage3.static.itmages.ru/i/15/0501/h_1430477101_9748763_7dbf2c2a35.png)

[2015-05-01 11:57] dillbyrne commented on #205
Hello @DaarkWel Thanks for your bug report I'm working on it now and I will have a fix out shortly.

[2015-05-01 12:08] dillbyrne commented on #204
Hello @Mosrite . Thank you I appreciate it :bow: ,  I'll look into flattr and get back to you.

Apart from coding there are other ways to contribute if you'd such as gathering profile information so we can keep RAS up to date. It is as simple as installing the latest version of the browser you want added and visiting the following three links

http://browserspy.dk/browser.php for the main profile

[2015-05-01 13:18] dillbyrne commented on #203
Hello @g2781644

I understand where you are coming from but I will not be bringing back the toggle based system for several reasons.

It caused a great deal of confusion to some users as the toggle system would reset preferences to their default value when spoofing was disabled. This was necessary to ensure that sites would work correctly when sites were disabled.

It was a recurring complaint.

N

[2015-05-01 13:18] #203 closed

[2015-05-01 13:23] dillbyrne commented on #205
@DaarkWel can you try https://github.com/dillbyrne/random-agent-spoofer/releases/download/0.9.5.3-beta-1/random-agent-spoofer.xpi and tell me if that fixes your problem. It should but I want to be sure before  closing

[2015-05-01 14:22] dillbyrne commented on #204
Hello @Mosrite I have added a flattr button to the read me at https://github.com/dillbyrne/random-agent-spoofer . Thanks again

[2015-05-01 14:22] #204 closed

[2015-05-01 17:35] DaarkWel commented on #205
Yes, now it's quite all right. Thank you.

[2015-05-01 17:35] #205 closed

[2015-05-03 18:59] drake commented on #146
wrong drake... @drake1989 and not me :)

[2015-05-04 04:05] drake1989 opened #206 "Could u make a Chrome version???"
Hope it wouldn't be too hard to do but could u possibly make a chrome version of random agent spoofer?

[2015-05-05 00:43] CHEF-KOCH commented on #126
Since this would break sites which depending on it like Mega.co.cz there should also be an whitelist option. Currently Firefox has only an enabled/disabled statement and any other stuff needs an extra addon, that really sux.

[2015-05-05 01:13] CHEF-KOCH commented on #135
[Private browsing mode does not protect against hsts cookies](http://www.pcworld.com/article/2865297/super-cookies-can-track-you-even-in-private-browsing-mode-researcher-says.html). See also [here](http://arstechnica.com/security/2015/01/06/browsing-in-privacy-mode-super-cookies-can-track-you-anyway/). It's well explained in the official [RFC 6797](https://www.rfc-editor.org/rfc/rfc6797.txt). Ther

[2015-05-05 07:42] ProgerXP commented on #126
There should be an option to clear the storage. But in fact I have solved this problem already. There are two ways:
* Use this addon that does exactly that - clear LS on startup and/or shutdown: https://addons.mozilla.org/en-US/firefox/addon/volatile-storage/
* Or set Firefox Options > Privacy > Custom settings > Clear cookies until I close Firefox - this surprisingly has the effect of also cleari

[2015-05-05 11:22] CHEF-KOCH commented on #126
Well, I already did say that using another addon sux, so I don't know why you suggest that now, thanks anyway.
Nope, _clear cookies until I close Firefox_ does not delete any dom storage since this is more like a supercookie (especially with the Mega addon) and is _harder_ to kill on sites like Mega (which stores the key in there and other important things..) and as I said an whitelist option woul

[2015-05-05 16:45] ProgerXP commented on #126
Because unlike other addons (e.g. suggested Cookie Controller) Volatile Storage does only one thing and its impact on anything from performance to UI is negligible.

Have you tried it yourself? Simple experiment shows that it does, for me. First set that setting, then open the console on any site that you haven't whitelisted cookies on, run `localStorage.setItem('abc',123)`, restart Firefox, go to

[2015-05-05 20:28] Jiriss opened #207 "Links do not open on About tab"
Bug in version 0.9.5.3. The links do not open on About tab

[2015-05-05 20:36] Jiriss opened #208 "Some parameters do not change immediately"
When I check "Disable webRTC" -> parameter does not change immediately. It is valid until after restart of the browser. This bug is in version 0.9.5.3. However when I check for instance "Disable webGL" then it is changed immediately. I can confirm them on about:config tab.

[2015-05-05 20:42] dillbyrne commented on #208
@Jiriss it works fine here.
Did you install 0.9.5.3 fresh or did you upgrade it from a previous version. if so what was was the previous version.

What os are you using and what version of firefox

have you tried it in a fresh profile ?.

[2015-05-05 20:45] dillbyrne commented on #207
All the links open fine for me here.

What version of firefox are you using

Have you tried it in a fresh profile

https://support.mozilla.org/en-US/kb/profile-manager-create-and-remove-firefox-profiles

[2015-05-05 20:50] dillbyrne commented on #206
@drake1989 I will not be making a chrome version. I don't have the time and I prefer mozilla over google.

[2015-05-05 20:50] #206 closed

[2015-05-05 20:55] Jiriss commented on #207
I use Firefox ESR (31.6). I really don't like create a new profile because I would lost all my settigs etc.

[2015-05-05 20:58] Jiriss commented on #208
I use Firefox ESR (31.6) on Ubuntu 14.04 LTS. I did upgrade from version 0.9.5.2. I really don't like create a new profile because I would lost all my settigs etc.

[2015-05-05 20:59] dillbyrne commented on #207
I'm saying to make a new additional profile as a test it will be a separate profile from your current  one with separate settings and addons.

[2015-05-05 20:59] dillbyrne commented on #208
Did it work for you on 0.9.5.2 ?

[2015-05-05 21:02] Jiriss commented on #208
I don't know because I didn't test it when I used the previous version.

[2015-05-05 21:08] dillbyrne commented on #208
Ok I'm going to try it on ubuntu 14.04 with firefox 31.6.0 esr with RAS 0.9.5.2 and 0.9.5.3

[2015-05-05 21:15] dillbyrne commented on #208
I have tried it in 2 different versions of RAS on 2 different operation systems with 2 different versions of firefox including your exact OS and browser combination and I can't reproduce your issues.

It is something on your end. I'm closing this and the other issue as they are not reproducible and nobody else has reported them

[2015-05-05 21:15] #208 closed

[2015-05-05 21:17] dillbyrne commented on #207
I'm closing this see  as it is not reproducible #208 for details

[2015-05-05 21:17] #207 closed

[2015-05-06 07:14] Jiriss commented on #207
I created a new profile and then the links opened well

[2015-05-06 07:20] Jiriss commented on #208
I can confirm that "Disable webRTC" parameter does not change when I created a new profile and test it. So network.websocket.enabled will change until after restart of the browser.

[2015-05-06 12:10] dillbyrne commented on #208
That is the wrong preference and it has been removed in later versions of firefox that the one you are currently using. The correct preference for webRTC is `media.peerconnection.enabled`

[2015-05-06 17:24] drake1989 opened #209 "[Feature Request] Can you make a feature to Spoof Browser Window Size?"
You did a nice job with adding spoof screen resolution size but can you also make an option to spoof browser window size for example say we are browsing in a 471 px x 183 px window  it will manipulate that we are browsing in 1263 px x 887 px window? And Also could you add an option too spoof cookies enabled when we have them turned off for example if I have cookies set to be turned off websites wi

[2015-05-06 20:54] tegru opened #210 "Protect window.name doesn't work?"
ip-check.info reports Value "window.name" as traceable even though this option is selected in RAS.

[2015-05-06 21:03] tegru opened #211 "Limit tab history to 2 option doesn't work"
Noticed this also on ip-check.info. Had to manually change browser.sessionhistory.max_entries in about:config. It was at default value 50 even though setting this option in RAS.

[2015-05-06 21:11] dillbyrne commented on #210
It is working fine here for me as you can see in the screenshot below.

![winname](https://cloud.githubusercontent.com/assets/2903711/7503669/6bc62d20-f43c-11e4-96ca-614f16f10aa1.png)

Can you make a new profile to test it https://support.mozilla.org/en-US/kb/profile-manager-create-and-remove-firefox-profiles

[2015-05-06 21:16] dillbyrne commented on #211
The issues you reported require script injection to be enabled, make sure you have it enabled .  It works fine for me as you can see from the screenshot in your other issue #210 .

Try it in a new profile and RAS should work. It could be another addon causing it not to work.

[2015-05-07 09:58] tegru commented on #210
I get the same results even with the new profile:

![screenshot - 05072015 - 12 44 23 pm](https://cloud.githubusercontent.com/assets/11595797/7512736/8247b7a0-f49e-11e4-86dd-3a39aaac7666.png)

[2015-05-07 10:04] dillbyrne commented on #210
@tegru in that image the RAS tabs are grey which means the real profile is in use. Script injection is not enabled for the real profile.  It should work as expected when you are using a spoofed profile

[2015-05-07 10:04] tegru commented on #210
Screenshot after enabling the standard options so they seem to work:

![screenshot - 05072015 - 01 02 42 pm](https://cloud.githubusercontent.com/assets/11595797/7512970/4316d708-f4a0-11e4-97dd-7fb14287cdf5.png)

[2015-05-07 10:06] dillbyrne commented on #210
script injection options, the whitelist tab  and accept headers are disabled when the real profile is in use. The standard options and non accept headers  work when any profile is in use.

[2015-05-07 10:25] tegru commented on #210
Ah, well sorry but that's just confusing and wrong IMHO... Why should I spoof my user agent in order to take advantage of the script injection options?

Also, it makes for example impossible to use these features with Tor Browser while using it's recommended user agent.

[2015-05-07 10:31] dillbyrne commented on #210
I intend to make script injection features available with the real profile in the future. There was an issue with whitelisting while the real profile was in use and I needed to get 0.9.5.2 released in time for firefox 38 in case there was any issues with mozilla mandatory extension signing so that users will have an upto date version on AMO.

It was simpler to temporarily disable script injection

[2015-05-07 10:48] dillbyrne opened #212 "Allow script injection to work when the real profile is in use"
An issue occurs with real profile and whitelist will have to be resolved first.

[2015-05-07 10:49] dillbyrne commented on #210
I'll address it in #212 I'm closing this issue and the other one now

[2015-05-07 10:49] #210 closed

[2015-05-07 10:49] dillbyrne commented on #211
Closing see #210

[2015-05-07 10:49] #211 closed

[2015-05-07 10:50] tegru commented on #210
Well, maybe RAS shouldn't be so centered around user agent spoofing anyways... especially since user agent spoofing is controversial from anonymity point of view, AFAIK.

RAS has tonnes of other great features and user agent spoofing should be (is) just one of them... Maybe even the name should be changed...

[2015-05-08 14:14] dillbyrne commented on #82
Flash related information can probably be spoofed by writing a custom flash config file in the flash folder. I need to research this before going further.

[2015-05-08 14:30] dillbyrne opened #214 "Investigate and add option for per site profile"
and a configuration of script injection options. Similar to the whitelist

[2015-05-08 16:01] RoxKilly commented on #111
Guys thank you SO much for contributing a great tool to the fight for privacy.  I created an account on gitHub today just to add my voice to this request (sorry if this posting breaks certain rules). The only thing I have found frustrating about RAS is its implementation of canvas fingerprinting protection.  Whitelisting should be a last resort protection because (1) it is resource intensive (don'

[2015-05-08 22:00] RoxKilly commented on #135
A simple way to protect yourself against this, the evercookie and most other tracking mechanisms that rely on storing data on your computer is to run your browser within a sandbox such as Sandboxie (http://www.sandboxie.com/) before the tracker is set. Any tracker set within the sandbox will not survive once the sandbox is cleared at the end of the browsing session.
Alternatively, if you install a

[2015-05-09 03:57] CHEF-KOCH commented on #135
A sandbox never protects against something which is established during a browser session, it only deletes the stuff after you're finished. Pretty useless in the cookie topic. Chrome and (in the near feature FF 42 alpha already have this) already have a integrated sandbox (no external software needed for the browser). Sandboxie itself isn't free.

I already did show that the private mode doesn't he

[2015-05-09 08:05] bugreport0 commented on #161
Yes, you have solved it, thank you. You don't even need to disable script injection now.

[2015-05-09 08:05] #161 closed

[2015-05-09 09:59] Mosrite commented on #135
I don't understand how a hosts blocker would help. This is simply a blacklist approach which blocks certain domains entirely. Thus, they cannot use HSTS anymore, because they simply cannot be loaded at all.
But what about the domains you want to use but you don't want to be tracked by? E.g. almost noone would block youtube.com per se. So, if YT would use HSTS for tracking purposes (I don't know if

[2015-05-09 12:59] tegru opened #215 "[Request] Random spoofing only per-domain not per-request"
Not an expert but I would think that constantly changing x-forwarder-for, screensize etc. would look quite suspicious in logs and certainly bring attention to the user.

It would be better to keep a random value as long as browsing the same domain. I can see this being much more difficult to implement though...

[2015-05-09 13:16] tegru opened #216 "[Request] Change whitelist to per-site options"
To me the whitelist is not so useful. I haven't seen any of the options breaking websites, except maybe for canvas (but I'm now using the CanvasBlocker add-on for that anyway).

In my case it would be more useful to enable additional options per site. Like for example enable x-forwarder-for only on some sites.

So my feature request would be changing whitelist to something that can be used to disa

[2015-05-09 16:40] CHEF-KOCH commented on #135
Since not every domain use supercookies or evercookies you just need to delete this ones - the hosts file can do that. Why you want to load a page that offering spying? Users should not support pages that offering tracking.

YouTube is a whole other story, they first not use HSTS cookies we talking about and they have a lot of other security problems e.g. malware you be integrated in the videos fo

[2015-05-09 19:45] tegru commented on #190
This is one feature seems to break many sites, at least visually. Some elements that seem like pictures are in fact fonts and look like these ugly "placeholders" when this is enabled. They are using these right here in GitHub too.

[2015-05-09 21:28] RoxKilly commented on #135
@CHEF-KOCH  "A sandbox never protects against something which is established during a browser session, it only deletes the stuff after you're finished."  The second part of your sentence is accurate, but the conclusion you draw in the first part is not accurate. The purpose of a persistent tracker is to recognize you. Clearing the sandbox one you finish browsing destroys any tracker stored on your

[2015-05-10 05:11] CHEF-KOCH commented on #135
Destroying something AFTER it is already established is useless to the simple reason. It's enouth to got you're data once, so it doesn't matter if it's uploaded or re-established after that again and again, once it's uploaded it's already to late. So if we delete it after the browser session, it will possible re-created after you surf xyz page. So we should general focus to prevent and block such

[2015-05-10 13:24] RoxKilly commented on #135
@CHEF-KOCH
You make some good points, but your argument has moved far away from the topic: HSTS super cookie tracking. The reason sandboxing works to prevent this type of tracking is that this type of tracking depends on the server writing and later reading the contents of a file on your machine. There is nothing "uploaded" to the server. Once the sandbox destroys what the server wrote, the HSTS d

[2015-05-10 16:41] CHEF-KOCH commented on #135
Tracking isn't that easy possible:
* No matter if the cookie is located on your HDD/SSD or not -> to the simple reason that's not possible that this itself establish a connection (or someone read them), this is only possible if you re-open the browser/app/addon AND it calls the exactly same site again to request for it (you simply avoid that by force to open FF in a new blank page) so no homepage

[2015-05-10 20:56] RoxKilly commented on #135
@CHEF-KOCH
You misunderstand me. When I wrote that the sandbox "prevents this type of tracking" I think you understood it to mean the sandbox prevents the server from setting the cookie. That's not what I was saying. I agree the sandbox does not prevent a cookie from being set. However the sandbox prevents tracking by deleting the cookie, thus making it useless for tracking purposes.

Remember tha

[2015-05-11 16:27] Mosrite commented on #122
Apparently, ipcheck.info recognizes that the If-None-Match header was modified. Therefore, the browser fingerprint will be more unique. Could this maybe be implemented in a non-discoverable way?

[2015-05-11 16:37] Mosrite commented on #110
Apparently, all important referer-related settings can be toggled in the about:config section:
http://www.ghacks.net/2015/01/22/improve-online-privacy-by-controlling-referrer-information/
Maybe you could add all these options (or at least the ones that make sense to modify) to the UI? At least, the "network.http.referer.XOriginPolicy" option should be added to the current options, I think. I don't

[2015-05-13 19:21] smithhooray commented on #177
Sorry for being annoying but I am wondering when this will be available... I am in hurry for this one. Thanks in advance

[2015-05-14 17:49] dkasak opened #217 "Add setting for disabling the upcoming Pocket integration"
The new Firefox nightly comes with integration to the [proprietary service Pocket](https://blog.mozilla.org/futurereleases/2015/05/13/get-a-firefox-account-and-test-new-features-in-firefox-beta/). I'm guessing you'll want to add an option for disabling this so I'm creating the issue to track it. Apparently there will be an about:config setting for this (`browser.pocket.enabled`).

[2015-05-14 20:55] RoxKilly commented on #217
@dkasak Thanks for the link, that is interesting. Why do you think Random Agent Spoofer should have an option for disabling this feature?

[2015-05-14 21:12] dkasak commented on #217
Well, it is in line with other bloat-disabling features of RAS (e.g. options for disabling canvas, webRTC, etc) since it is a potential privacy leak (and proprietary at that) with no user-friendly UI to disable it.

[2015-05-15 00:06] RoxKilly commented on #217
@dkasak I get what you're saying; I have a different opinion. I don't think RAS should disable things simply because they bloat the browser. Otherwise, RAS itself will become too bloated and its options too overwhelming. If RAS starts trying to make the browser more lean, RAS will lose its focus as a privacy add-on.
As for the privacy part, I honestly don't know enough about Pocket to determine wh

[2015-05-16 12:33] beefcurtains opened #218 "Please bring back crawler agents"
It's the best way to get around cookiewalls.

[2015-05-17 15:45] SPOTBEAM commented on #93
Please add descriptions of new features added such as disable battery/gamepad api etc.
Please update "Use standard font set" to "Use document fonts". Maybe a visual aid can find some place as well:
Before -  ![Before](https://i.imgur.com/myQmrNg.jpg)
After -  ![After](https://i.imgur.com/BykAjkj.jpg)

[2015-05-18 11:59] alct commented on #217
+1 @RoxKilly

It should be integrated into RAS only if it actually leaks info (without requiring deliberate actions from the user) or can be used to fingerprint the browser.

@dkasak: can you please check for it?

[2015-05-18 19:03] GuardianMajor opened #220 "FFDE 40.x Breaks Functionality"
As of the release of the 40.x branch (ie 40.0a2 (2015-05-18)) it has broken functionality of this addon. While ALL addons are getting the same type of warning:

![capture](https://cloud.githubusercontent.com/assets/5274181/7687966/bd9f7bd4-fd55-11e4-802c-13475dbb4a65.PNG)

They continue to function normally but this one disappears completely and won't work even though it shows up fine in the list.

[2015-05-19 10:25] beefcurtains commented on #220
What version do you have?

[2015-05-20 09:45] Raprp opened #221 "Spoofed Timezone x Request Date"
Hi,

I configured my RAS to use another timezone, but at work today I logged at amazon S3 console and received an error saying that the difference between the current time and the request time is too big and the request will be ignored.

So my question is, when RAS changes the timezone offset, it also converts the request date from the local time to the fake timezone? For example, if I'm on Sydney

[2015-05-21 09:00] marzametal opened #222 "Firefox 28 Issue"
I am able to sucessfully install the Git version into Firefox 28. However, there is no icon to use... try to customise the bars and there is no sign of RAS.

I managed to get it working on version 0.9.4.3 ... is there any way to get the icon to show in addon-bar for FF 28?

[2015-05-21 09:18] marzametal commented on #222
I figured it out... had to upgrade to v29!

[2015-05-21 12:36] wrzhouse opened #223 "Issue with screen resolutions"
It's easy for anyone to spot faked screen resolution, as 'Your screen:' and 'Available screen:' are always same values, while if not faked are different.

Example: http://ipleak.net

[2015-05-22 18:02] GuardianMajor commented on #220
@beefcurtains - read the post its inside the parenthesis.

[2015-05-23 03:56] beefcurtains commented on #220
I meant the addon, not Firefox.

[2015-05-23 14:03] paulderdash commented on #149
Using RAS 0.9.5.3 on Windows 7 SP1 Pro 64-bit and Windows 8.1 Pro 64-bit. Both with Firefox 38.0.1.
Notification appears when randomly switching browsers on Win 7, but not on Win 8.1. I do have quite a lot of add-ons in both environments, but as far as I know they are the same.

[2015-05-25 09:14] dillbyrne commented on #149
Hello @paulderdash  Can you confirm if  a notification shows when you start the browser ?  it should show your starting profile as well as when it is changed . Assuming notifications have not been disabled.

[2015-05-25 09:18] dillbyrne commented on #220
The addon still works. This is a warning about addon signatures I suspect but it will not come into effect and block the addon until June 15th. I received the following from mozilla

[code]

I have to wait until June 1st to submit the github version of RAS for signature signing.

[2015-05-25 09:20] dillbyrne commented on #220
@GuardianMajor I'm using (ie 40.0a2 (2015-05-20)) and it works fine with RAS. Is there anything else aside from the warning above ?

[2015-05-25 09:22] dillbyrne commented on #223
@wrzhouse there is an open issue for this already. #54

Closing as duplicate

https://github.com/dillbyrne/random-agent-spoofer/wiki/Bug-reporting-guide

[2015-05-25 09:22] #223 closed

[2015-05-25 09:25] dillbyrne commented on #222
Glad you figured it out

[2015-05-25 09:25] #222 closed

[2015-05-25 09:31] dillbyrne commented on #221
Hello @Raprp

RAS does not change any date headers or anything like that. For now it only changes date and time strings. See the date handler portion of the [inject script](https://github.com/dillbyrne/random-agent-spoofer/blob/master/data/js/inject.js#L7) for exactly what it changes.

Initially I had it changing more than just the strings but it was causing page loading delays and timeouts.

[2015-05-25 09:34] dillbyrne commented on #217
I have to look into this . I agree about avoiding bloat so It will depend on mozilla's implementation, which should require the user to opt in.

[2015-05-25 09:36] dillbyrne commented on #93
Hello @SPOTBEAM

Thanks for the suggestions. I'll update the wiki soon.

[2015-05-25 09:59] dillbyrne commented on #218
Hello @beefcurtains

I didn't think most people would use them so that is why they were removed. The code has changed somewhat since they were removed . If it is not too much trouble I will add them back.

[2015-05-25 10:03] dillbyrne commented on #177
@smithhooray it'll be ready when it's ready. I'll aim to get it out in one of the next few releases. As I said before I will update this issue when I make some changes.

[2015-05-25 10:35] dillbyrne commented on #216
X-Forwarded-For is already available in the whitelist. All of the standard extras are global options so there is no way to pick and choose what to enable or disable on a site by site basis. The whitelist works per url, although it is not perfect, I do plan to improve it when I know (as an addon developer) where where I stand with the APIs when the multi process stuff comes into effect.

[2015-05-25 10:41] dillbyrne commented on #126
Hello everyone .

Sorry for the late reply. I was injured and unable to type.

This is on the road map and I will try to get a working solution in the next release or two. I have not had a proper chance to try it out. It will have to do done using script injection, this will allow us to selectively whitelist it and block it elsewhere.

It should be sufficient to block the setter and getter methods

[2015-05-25 10:52] dillbyrne commented on #67
@seli11 I now have the code in place to support multiple accept language choices, it will fall back to the US english if there is no option for the chosen language  in the current  profile's accept language attribute ,which is an array of name value pairs.

I will add the chrome and firefox to the existing list of language headers.

Can you provide me with the Albanian accept language headers for

[2015-05-25 12:19] beefcurtains commented on #218
[This patch](http://git.io/vTxhx) brings back the data, but I'm not sure what to do with the new attributes (``pixeldepth``, ``colordepth``, and ``screens``).

[2015-05-25 14:19] dillbyrne commented on #218
I know how to add them back but as you have discovered there is more attributes and code to handle them now. I'll look into it and get back to you.

[2015-05-25 15:00] Raprp commented on #221
@dillbyrne,

Yeah, maybe messing with the request dates would only make navigation unstable.

I will take a look on the source code to see if a I have any ideas, but since I know nothing about extension development I doubt I will get anywhere =)

Thanks for the reply!

[2015-05-25 19:51] GuardianMajor commented on #220
@dillbyrne  sorry my friend for not seeing this sooner, for some stupid reason they don't notify me. I know it should work, as others do too and the warning is just that but it won't work. I am running version 0.9.3.1 which is the latest available. I don't see anything else that would prevent it from showing up and no other errors or warnings besides what I shared. Thoughts?

[2015-05-25 19:57] GuardianMajor commented on #220
Since the latest update is not available on the addon page, I went ahead and put it on from here and it seems to show up, I will keep you posted if I hit any hiccups.

[2015-05-25 20:02] dillbyrne commented on #220
Ah 0.9.3.1 is very outdated now as it is the version on AMO. I have a limited version on AMO awaiting review , version 0.9.5.2 , it is currently at position 29 out of 120 in the review queue.  It is taking them a while to review it as I suspect there is an influx of addons and updates due to the API changes.

If you want the latest full version use the github version at https://github.com/dillbyrn

[2015-05-25 20:03] dillbyrne commented on #220
I'll close this for now and you can let me know if there are any issues.

[2015-05-25 20:03] #220 closed

[2015-05-25 20:04] GuardianMajor commented on #220
I have to say that the latest one is taking too much liberties with changes to the settings that should ONLY be active when the profile is activated, should not remain permanently, I prefer the non-intrusive behavior of the older one than the new one, its overreaching way too much without containing itself to when activated. I have to think about this.

[2015-05-25 20:13] dillbyrne commented on #220
Users complained about the old behaviour prompting the new behaviour. I can't win it seems.

I do plan to add a slider to allow users to select sets of options ranging from none to all and various settings in between. This should achieve the result of allowing a user to "toggle" it like the old behaviour #139

[2015-05-25 20:16] GuardianMajor commented on #220
You should be able to build a configured profile and when active, it does everything selected and when not, it leaves the browser alone to the defaults that has been configured for it. This is not right and I don't see why anyone would ask a simple user agent spoofer to reach into areas on a normal basis that it frankly has no business doing. Disappointing, sorry you had to yield but its your deci

[2015-05-25 20:58] EqoTime opened #224 "Random System Fonts"
Hey dillbyrne,

I would be happy if you implement a random system fonts spoofer.
And this addon is awesome <3

Best Regards

[2015-05-25 21:50] beefcurtains commented on #220
@GuardianMajor why don't you send in a PR instead of bitching to the developer who puts in free time to create something cool that improve our lives?

@dillbyrne As I expected, reporter used an old version and didn't bother to update before filing an issue. The add-on is quite useful and you're doing a great job here. Please don't take the criticisms personal, haters will hate, plebs will pleb. Th

[2015-05-26 06:12] mmn980 opened #225 "Usage in Firefox for Android v38?"
Are there any chances, that the add-on will start working with FF for Android? That would very nice. Sorry, if this is posted to a wrong place.

[2015-05-26 07:30] paulderdash commented on #149
Hi @dillbyrne - it does show notification on browser start ... there was never a problem. My mistake.

[2015-05-26 18:48] dillbyrne commented on #225
Hello @mmn980 . RAS is largely integrated with various firefox desktop specific API's that are not available in the android version . I suspect it would require a lot of effort to port it and I don't have time to do that I'm afraid. If you would like to do so feel free . It is [free software](http://www.gnu.org/philosophy/free-sw.en.html) after all :smile_cat:

[2015-05-26 18:48] #225 closed

[2015-05-26 18:49] dillbyrne commented on #149
@paulderdash Good to know thanks for your reply.

[2015-05-26 18:49] #149 closed

[2015-05-26 18:55] dillbyrne commented on #130
A tor browser profile has been added as firefox 31 ESR.  The fonts will be different on the tor browser but it is as close as I can get for now with RAS.

[2015-05-26 18:56] dillbyrne commented on #224
Hello @EqoTime

I have an issue open to improve fonts #119 . I'll update that issue when I make some progress on it

[2015-05-26 18:56] #224 closed

[2015-05-26 19:04] Kagami commented on #130
Thanks! Should this issue now be closed?

[2015-05-26 19:21] dillbyrne commented on #220
@beefcurtains Thanks

@GuardianMajor

As noted in the update pages the update must be done from the previous version or install fresh. I state this in the release notes of every update. If coming from AMO version to the github version, you need to install it fresh.

If it has been installed correctly then uninstalling it removes all of the changes and resets all the preferences so please don't lev

[2015-05-26 19:31] dillbyrne commented on #130
@Kagami sure I'll close it now

[2015-05-26 19:31] #130 closed

[2015-05-26 19:48] wrzhouse commented on #223
OK. One more thing....

http://www.imamasim.com/cli/css3.htm

screen resolution detection by css3. Can you change the screen
resolution the way, so it could be detected right way via css3 as
well?

Now css3 shows original value, while js working OK (not talking about
the bug I told you before)

On 5/25/15, dillbyrne <notifications@github.com> wrote:

[2015-05-26 20:17] call5 opened #227 "no whitelist tab"
hello, i install the latest random-agent-spoofer in firefox 38.0.1 but i don't have a whitelist tab; here is the screenshot for more details

![ras](https://i.imgur.com/hereTky.png)

[2015-05-26 20:27] dillbyrne commented on #227
hello @call5 that is the old version. There is a new version awaiting review on addons.mozilla.org (0.9.5.2). In general though the AMO versions  are limited and some of the functionality such as script injection and the whitelist are  not supported in that version.

This is because the script injection is used for whitelisting and mozilla will not allow a version that messes with the date and tim

[2015-05-26 20:27] #227 closed

[2015-05-26 20:47] call5 commented on #227
ok thanks for you speedy answers :+1:

[2015-05-27 11:48] tr37ion opened #228 "Mozilla Addons/Extension Signing"
Hi, Mozilla is bringing AddOn Siging to upcoming Firefox versions. It would be nice if you could adopt your AddOn, too. Have a look at: https://wiki.mozilla.org/Addons/Extension_Signing

[2015-05-29 18:55] dkasak commented on #217
I don't have any more information, but I'll keep an eye on this and try to investigate further.

[2015-05-29 19:30] dkasak opened #229 "Icon size too large when placed in bookmarks toolbar"
When the RAS icon is placed in the bookmarks toolbar, it is much larger in size than the rest of the icons. The issue is the same as in ChrisAntaki/plugins-and-mimetypes-firefox#5. The fix seems to be to add icons at other suggested sizes.

[2015-05-29 20:11] dillbyrne commented on #229
This seems to be fixed now as you can see in the image I have added.

![temp](https://cloud.githubusercontent.com/assets/2903711/7891683/91dc7930-0646-11e5-9815-4682613f1d93.png)

It'll be available in the next release which will be soon. I'm holding off until I can submit the next release to be signed by mozilla but they are not accepting externally hosted addons just yet.

I'm closing this now.

[2015-05-29 20:11] #229 closed

[2015-05-29 20:18] dillbyrne commented on #228
Hello @tr37ion . I'm aware of the mandatory extension signing requirement being added to firefox. While Mozilla are currently signing AMO hosted addons, they are not yet accepting externally hosted addons so I must wait until then to submit the github version of RAS.

One point to make note of is that the next version of RAS will be forced to have a different id in the manifest as Mozilla can't si

[2015-05-29 20:24] dillbyrne commented on #223
@wrzhouse I don't know of a way off hand to do it but I'm sure it can be done. If myself or someone else can figure it out I'll be sure to add it.

[2015-05-29 20:25] dillbyrne commented on #54
investigate CSS screen detection http://www.imamasim.com/cli/css3.htm

[2015-05-30 08:48] potholiday opened #230 "How to install RAS 0.9.5.2 on firefox"
I have downloaded the github zip file and i am unable to find XPI for RAS 0.9.5.2. can you tell me how to install RAS extension on firefox

[2015-05-30 12:44] paulderdash commented on #228
I am currently using your 0.9.5.3 github version. As far as I understand it, only the signed AMO version will be usable, once this policy comes into effect (sigh). Will your next RAS version (without the non-allowable github features) be available soon - before this policy becomes effective? AMO currently has 0.9.3.1.1 ... if I need to install this, do I first need to uninstall 0.9.5.3 - or better

[2015-05-30 13:12] RoxKilly commented on #230
Use the .xpi links at https://github.com/dillbyrne/random-agent-spoofer/releases

[2015-06-01 14:47] paulderdash opened #231 "Excluding browsers"
Using 0.9.5.3 set to Random (desktop) - Windows browsers - random interval. I sometimes get the message 'this browser is no longer supported' and then want to exclude those profiles in the list. However, if I tick those profiles it doesn't seem to 'remember' these after a restart?

[2015-06-02 12:33] dillbyrne commented on #231
Hello @paulderdash . It is working fine here. I exclude the profiles and they remain excluded upon restart.

They are added and subtracted from the "extensions.agentSpoof.excludeList" preference when I tick and untick an exclude box.

Are the boxes still showing as ticked ?

[2015-06-02 12:34] dillbyrne commented on #230
Hello @potholiday  clicking on the  .xpi links will install the github version as RoxKilly  has said

[2015-06-02 12:34] #230 closed

[2015-06-02 12:46] paulderdash commented on #231
If I select 'Random Windows Browsers', and exclude (tick) the first Chrome browser on the list, and restart FF, the profile is still there, now unticked. I wonder what it could be?

[2015-06-02 12:48] dillbyrne commented on #228
@paulderdash No both versions will still be available. As I said above the github version will be forced to change it's id in the manifest in order to be signed so it does not conflict with the signed AMO version.

The next AMO version (0.9.5.2) has been in the review queue on the addons site for a while now. I can not say when it will be ready. That depends on the reviewers and the review queue i

[2015-06-02 12:56] dillbyrne commented on #231
@paulderdash I can see no reason as to why that is happening. What does the `about:config` preference `extensions.agentSpoof.excludeList` show when you tick the box. it should have that profile's id ( in this case `W1` ) added to it.

What value is that preference after ticking the box and after restarting ?. It should show a list of comma separated profile ids that you have selected for exclusion

[2015-06-02 13:55] paulderdash commented on #231
OK - I did not look in about:config ... I see that preference now contains abU,abV,W3,W3,W72,W71,W70,W7,W6,W5,W4,W3,W2,W1,W1,W1,W1,W2 (some duplicates probably due to repeated attempts). But these profiles still appear in the list, unticked, after a restart. I have several profiles. I'll try another one.

[2015-06-02 13:57] paulderdash commented on #228
Thanks @dillbyrne. Understood. Mozilla sure seems to take their time with reviews!

[2015-06-02 14:05] dillbyrne commented on #231
Ok  profiles like `abU,abV` are from a really old version. Did you update from an AMO version  to the github version (which is not supported ) ?. Duplicates should not be possible so it seems something is broken with your install.

You could try setting `extensions.agentSpoof.excludeList` as blank and close and restart the browser and then exclude a profile and close and restart and see if it show

[2015-06-02 14:33] paulderdash commented on #231
I just tried in another (clean) profile and it works!
Yes I did update fom the AMO version to the github 0.9.5.3 version. Should I not be using the github version i.e. should I go back to the AMO version?
Else if I continue with the github version I will do as you suggest. Alternatively I could remeove the add-on completely, restart the browser and do a clean install?

[2015-06-02 14:42] dillbyrne commented on #231
Yes a clean install would be for the best. Sorry the fault is mine for not prominently displaying not to update from the AMO version to the github version. The reason for the problem is that they both advance at different rates and the update code for both versions has to take different things into account.

Sorry for the inconvenience caused.

You can use whatever version you like AMO or github t

[2015-06-02 15:03] paulderdash commented on #231
No need to apologise, it IS clearly stated - the fault is mine! Have done a clean install with the github version (prefer the interface), and it is working as expected. Will go to the AMO version when 0.9.5.+ comes through. Thanks for a great add-on.

[2015-06-02 15:06] dillbyrne commented on #231
No problem. just remember to do a clean install when going back to the AMO version.

[2015-06-02 15:06] #231 closed

[2015-06-02 17:26] potholiday commented on #230
thanks for the info @RoxKilly  @dillbyrne

[2015-06-02 17:48] dkasak commented on #229
Actually, the size was still wrong for me until I applied the changes as in #232.

[2015-06-02 21:22] RoxKilly opened #233 "Does/should RAS disable Beacons?"
I wonder whether RAS protects users against tracking done via Beacons? According to the specs, Beacons allow sites to transfer data asynchronously to servers, even after the page is unloaded.  Spec: "The specification addresses the needs of analytics and diagnostics code that typically attempt to send data to a web server prior to the unloading of the document."  My understanding is that any  scri

[2015-06-03 15:29] dillbyrne commented on #229
@dkasak My apologies you are correct. I tested it on the developer edition and it worked as expected, I forgot to test it on version 38.  I will merge your PR and change it back when 40 is released as using the lowest resolution icon for the toolbar forces it to be used for the dropdown menu as you can see in the image below. In firefox 40 the highest resolution icon is scaled down.

![pl-2](https

[2015-06-03 15:32] dillbyrne commented on #233
@RoxKilly Sure I'll add in for the next version. RAS currently has not option for beacons. I will add a checkbox for it in the extras section

[2015-06-03 15:34] heforfree commented on #149
it is fixed on my profile that not working in firefox 38.0.5
so very well
thanks

[2015-06-03 16:04] dillbyrne commented on #233
@RoxKilly I have added an option to toggle the preference and it will available in 0.9.5.4 which I will submit to mozilla for signing when they open the submission process for external addons.

[2015-06-03 16:04] #233 closed

[2015-06-03 21:07] rmcohen3 opened #234 "RAS Toolbar Icon Gone after Upgrade to FF 38.0.5"
Hi,

RAS 0.9.5.3 is still installed, but the icon has disappeared from the toolbar, so I cannot access the majority of the settings (context-sensitive menu is still there). I tried removing and reinstalling RAS, but to no avail. Please assist.

Thanks,
Robert

[2015-06-04 12:08] alct commented on #110
For the record (could be useful resource) https://addons.mozilla.org/en-us/firefox/addon/smart-referer/

[2015-06-04 13:05] dillbyrne commented on #234
Hello @rmcohen3 I have tried 0.9.5.3 on a fresh version of firefox 38.0.5 (linux 64 bit). The icons shows up as expected as you can see in the image below
![pl-2](https://cloud.githubusercontent.com/assets/2903711/7984520/ee224402-0ac1-11e5-98c6-5f34c1a361a1.png)

So everything worked as expected on 38.0.1 and with 0.9.5.3 installed and once you updated to 38.0.5 it disappeared ?

What OS version

[2015-06-04 13:18] dillbyrne commented on #110
@alct I can easily add options for the built in headers . I'll do it  after I get 0.9.5.4 signed by mozilla and released.

[2015-06-04 15:48] rmcohen3 commented on #234
Hi dillbyrne,

Thanks for the quick response. Yes, everything worked as expected on 38.0.1 with 0.9.5.3 installed and once I updated to 38.0.5, the RAS icon disappeared from the toolbar. I am running Win7-64bit. I took your advice and created a new "Test" profile. It resulted in a new vanilla browser. I used it to re-install RAS. The icon appeared on the toolbar. I looked at the RAS settings and t

[2015-06-04 19:10] Mosrite commented on #110
Will this come with an option to whitelist certain referers?

[2015-06-05 02:12] maxkalashnikov opened #235 "Can't disable notifications"
I just installed the latest from Github, and the Profile tab doesn't have a setting to disable notifications (which are quite annoying).

[2015-06-05 02:13] maxkalashnikov commented on #235
Never mind.. I found the setting in the Add-on preferences.

[2015-06-05 02:13] #235 closed

[2015-06-05 15:56] xahujyu opened #236 "RAS Toggles geo.enabled To True When Spoofing On/Off"
Using openSuSE 13.2 Firefox 38.05. Clicking RAS spoofing on/off causes geo.enabled to true state irregardless of previous state. Also when RAS disabled. Hope this helps.

[2015-06-06 17:02] alct commented on #217
For the record: https://bugzilla.mozilla.org/show_bug.cgi?id=1172126

[2015-06-07 09:13] kekkc commented on #215
This would be fantastic. Instead of changing every 10min blindly, RAS would store the values for the single host and use a new value for a new host. A different host can then use different values, but I have no idea if storing the values in some DB / JSON is possible. A new session / browser restart should then also trigger new values for the stored hosts.

[2015-06-07 09:15] kekkc commented on #218
At least Googlebot would be great ;) BTW: using Proxomitron as workaround, not as advanced as RAS in that area, but enough for most sites.

[2015-06-07 17:48] kekkc commented on #215
Think the problem is that some settings are global (javascript navigator properties, changes in about:config...). Either we have an inproper spoofing that is easily discovered and just changes the user agent, which can be domain specific, or we have a correct spoofing with the correct JS values. I doubt that it's possible to use this domain specific, but let's see if dillbyrne has an info.

[2015-06-08 04:20] potholiday opened #237 "How to use whlitelist rules for websites"
I have the latest RAS 0.9.5.3 and  I uses it to spoof my browser (random desktop). I want to prevent RAS from running in some particular websites like gmail.com, facebook.com, tumblr.com, cnet.com , youtube.com etc while running a Random Desktop profile . In RAS itself there is a whitelist tab which i enabled.  I want to know how we can add above websites to the whitelist rules. current default ru

[2015-06-08 12:03] ProgrammerZeta commented on #237
Inside the [] you have a list of {} sections separated by commas. You simply add a new {} section for each site you want to whitelist. And don't forget the comma.

A tip could be to copy the whitelist "text" to a text document and use notepad to edit it. Then copy it to the RAS whitelist. Next time you bring up the whitelist in RAS you'll see that the formatting(linebreaks) and the order has chang

[2015-06-08 19:33] dkasak opened #238 "Add option to disable the network predictor (previously known as Seer)"
Consider adding option to disable the network predictor engine (previously known as Seer), which got [enabled again recently](https://bugzilla.mozilla.org/show_bug.cgi?id=1009122). It's a feature that monitors browsing patterns and tries to predict the user's next action in order to preload the necessary resources. It is similar to link prefetching in this regard. As an example, it will [preload t

[2015-06-08 22:04] mack318 commented on #48
one of my favorite add ons.
tried to add it to the new developer addition of Firefox.  The icon does not appear.
it might be helpful if there was an alt settings button inside the add on manager.  Without the icon there is no way to adjust the settings.
Im running win 8 64bit
Firefox developer edition 40.0a2  (2015-06-08)